<ul class="" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="{{ path('sms_center_index') }}">{{ 'Campaign List'|trans }}</a></li>
    <li><a class="dropdown-item" href="{{ path('sms_center_new') }}">{{ 'New Campaign'|trans }}</a></li>
    <li><a class="dropdown-item" href="{{ path('sales_order_delivery') }}">{{ 'DO SMS'|trans }}</a></li>
    <li><a class="dropdown-item" href="{{ path('sales_order_delivery', {orderDeliveryStatus:'pending'}) }}">{{ 'Pending DO SMS'|trans }}</a></li>
</ul>