{% extends 'admin/layout.html.twig' %}

{#{% block title %}Hello VersionController!{% endblock %}#}

{% block body %}
<div class="pcoded-inner-content">

<!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"> <a href="{{ path('version_index') }}">  {{ 'Version'|trans }}</a></li>
{#                    <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>{{ 'Version'|trans }}</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('version_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                        <a href="{{ path('version_index') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Versions'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Version'|trans }}</th>
                        <th class="text-center" width="200">{{ 'Status'|trans }}</th>
                        <th class="text-center" width="200">{{ 'Created Date'|trans }}</th>
                        <th width="50" class="text-center"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if records is defined and records is not empty %}
                        {% set offset = records.getItemNumberPerPage * (records.currentPageNumber - 1) %}

                        {% for record in records %}
                            <tr>
                                <td>{{ loop.index + offset }}</td>
                                <td>{{ 'v' ~ record.version|default('') }}</td>
                                <td align="center">
                                    <div class="btn-group w-50 text-center">
                                        {% if record.status == 1 %}
                                            <span class="btn-mini white-font bg-success w-100" style="border-radius: 0;"> Current </span>
                                        {% else %}
                                            <span class="btn-mini white-font yellow-bg w-100" style="border-radius: 0;"> Expired </span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{ record.createdAt|date('d-m-Y')|default('') }}</td>
                                <td>
                                    <a class="btn btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('version_delete', {'id': record.id}) }}"><i class="fa fa-remove"></i></a>

                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ records.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(records) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
