{% extends 'admin/layout.html.twig' %}

{#{% block title %}Hello VersionController!{% endblock %}#}

{% block body %}
<div class="pcoded-inner-content">

    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"> <a href="{{ path('version_index') }}">  {{ 'Version'|trans }}</a></li>
                    <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>{{ 'Version'|trans }}</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('version_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                        <a href="{{ path('version_index') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Versions'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="portlet box green ">
                <div class="portlet-title">
                    <div class="caption">{{ 'Manage Version'|trans }} </div>
                </div>

                <div class="portlet-body form">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                    <div class="row form-body">
                        <div class="form-inner-no-space">
                            <div class="row">
                                <div class="col-md-6 offset-1">
                                    <div class="form-group">
                                        {{ form_label(form.version,'Version'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                        <div class="col-md-8">
                                            <span class="not-blank"> *</span>
                                            {{ form_widget(form.version) }}
                                            {{ form_errors(form.version) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4"></label>
                                        <div class="col-md-6">
                                            {{ form_widget(form.status, {'attr': {'checked': 'checked'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-actions">
                                <div class="col-md-6 ">
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                        {{ form_widget(form.save, {attr: { class: 'btn btn-info form-submit'}}) }}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/core/js/ajax-location.js') }}"></script>
{% endblock  %}
