{% extends 'login-base.html.twig' %}
{% block stylesheets %}
    {#{{ parent() }}#}
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/css/fontawesome-all.min.css') }}">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/animation/css/animate.min.css') }}">
    <!-- vendor css -->

    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/style.css') }}">
{% endblock %}
{% block body_id 'login' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/vendor-all.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/number/mask/dist/jquery.mask.js') }}"></script>


    <script>
        $(document).ready(function () {
            $('.mobileLocal').mask("00000-000000");
            $("#signIn").on("click", function (e) {
                e.preventDefault();
                $(".card-body form").addClass("d-none");
                $(".card-body").prepend($("form#signInForm").removeClass("d-none"));

            });

            $("#forgotPassword").on("click", function (e) {
                e.preventDefault();
                $(".card-body form").addClass("d-none");
                $(".card-body").prepend($("form#forgotPasswordForm").removeClass("d-none"));
            });

            $("form#forgotPasswordForm").submit(function (e) {
                e.preventDefault();
                const url = $("form#forgotPasswordForm").attr('action');
                const id = $("input[name=employee_id]").val();
                const mobile = $("input[name=mobile]").val();

                if (id && mobile){
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: {id:id, mobile:mobile},
                        success: function (res) {
                            $("input[name=employee_id]").val('');
                            $("input[name=mobile]").val('');

                            $(".auth-content").prepend('<div class="alert alert-info">'+ res.message +'</div>');


                            $(".alert").fadeTo(5000, 500).slideUp(500, function() {
                                $(".alert").slideUp(500);
                                $(".alert").remove();
                            });

                            $(".card-body form").addClass("d-none");
                            $(".card-body").prepend($("form#signInForm").removeClass("d-none"));

                        }
                    });
                }
            });
        });
    </script>

{% endblock %}

{% block body %}
    <div id="pageloader" style="display: none">
        <img src="{{ asset('/assets/images/loader-hen.gif') }}" alt="processing..."/>
        <p>Please Wait...</p>
    </div>


    <div class="auth-wrapper">

        <div class="auth-content">

            {# <div class="auth-bg">
                 <span class="r"></span>
                 <span class="r s"></span>
                 <span class="r s"></span>
                 <span class="r"></span>
             </div>#}
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <div class="card">
                <div style="width: 100%; text-align: center;">
                    <img src="{{ asset('assets/images/nourish_logo.png') }}" alt="Nourish" style="width: 40%">
                </div>
                <div class="card-body text-center">
                    <form action="{{ path('security_login') }}" method="post" id="signInForm">
                        <h4 class="mb-3">{{ 'WELCOME TO Nourish'|trans }}</h4>
                        <h4 class="mb-5">{{ 'Login Information'|trans }}</h4>
                        <div class="input-group mb-3">
                            <input placeholder="{{ 'Employee ID'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="input-group mb-4">
                            <input placeholder="{{ 'Password'|trans }}" type="password" id="password" name="_password" class="form-control" />
                        </div>
                        <div class="form-group text-left d-flex justify-content-between">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked />
                                <label for="checkbox-fill-a1" class="cr"> {{ 'remember.me'|trans }}</label>
                            </div>
                            <div>
                                <a id="forgotPassword" href="#">{{ 'Forgot Password?'|trans }}</a>
                            </div>
                        </div>

                        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary shadow-2 mb-4">
                            <i class="feather icon-unlock"></i> {{ 'action.sign_in'|trans }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form action="{{ path('forgot_password') }}" id="forgotPasswordForm" method="post" class="d-none">
        <h4 class="mb-3">{{ 'FORGOT PASSWORD'|trans }}</h4>
        <h6 class="mb-5 font-italic">{{ 'Your reset password will be sent in your mobile number'|trans }}</h6>
        <div class="input-group mb-3">
            <input placeholder="{{ 'Employee ID'|trans }}" type="text" name="employee_id" class="form-control"/>
        </div>
        <div class="input-group mb-3">
            <input placeholder="{{ 'Mobile Number'|trans }}" type="text" name="mobile" class="form-control mobileLocal"/>
        </div>
        <div class="form-group text-left">
            <div>
                <a id="signIn" href="#">{{ 'Sign In'|trans }}</a>
            </div>
        </div>
        <button type="submit" class="btn btn-info shadow-2 mb-4">
            <i class="feather icon-refresh-ccw"></i> {{ 'Reset'|trans }}
        </button>
    </form>



{% endblock %}
