{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('admin_setting') }}">  {{ 'Settings'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>Basic Componant</h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i> {{ 'Setting Add'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                    <div class="form-body">
                                        <div class="form-group">
                                            {{ form_label(form.name, 'label.name', {'label_attr': {'class': 'col-md-3'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.name, {'attr': {'class': 'form-control input-lg'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.optionType, 'label.optionType', {'label_attr': {'class': 'col-md-3'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.optionType, {'attr': {'class': 'form-control input-lg'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save" aria-hidden="true"></i> {{ 'label.save'|trans }}
                                    </button>
                                        {#<button type="submit" name="setting[saveAndCreateNew]" class="btn btn btn-info"><i class="fa fa-th"></i> Save & Continue</button>#}
                                    {{ form_widget(form.saveAndCreateNew, {label: 'Save_Continue', attr: {class: 'btn btn-info'}}) }}
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- Input group -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
