
<header class="">
    <nav class="navbar navbar-expand-md white-font">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <div class="dropdown">
                <span  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <img src="{{ asset('assets/images/nourish_logo.png') }}" style="height:40px"  />
                </span>
            </div>
            <ul id="horizontalMenu" class="horizontal-responsive-menu" data-menu-style="horizontal">
                {% if is_granted("ROLE_DEVELOPER") %}
                <style>
                    li.developer-nav{
                        background-color: #000000;
                    }
/*                    li.developer-nav li > a{
                        background-color: #000000 !important;
                        color: #fff !important;
                    }*/
                    li.developer-nav.menu-active > a{
                        background-color: #000000 !important;
                        color: #9e4900 !important;
                    }
                    li.developer-nav li.menu-active > a{
                        background-color: #000000 !important;
                        color: #9e4900 !important;
                    }
                </style>
                <li class="developer-nav">
                    <a href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i>{{ 'Developer'|trans }}</a>
                    <ul class="" aria-labelledby="navbarDropdownMenuLink">
                        <li class="w-100"> <a class="dropdown-item" onclick="return confirm('Are you sure?')" href="{{ path('employee_district_history_process') }}"><i class="feather icon-codepen"></i>{{ 'Process District History '|trans ~'(' ~ 'now'|date('Y') ~ ')' }}</a></li>
{#                        <li class="w-100"> <a class="dropdown-item" onclick="return confirm('Are you sure?')" href="{{ path('data_clean_crm') }}"><i class="fa fa-recycle"></i>{{ 'CRM Reset'|trans }}</a></li>#}
{#                        <li class="w-100"> <a class="dropdown-item" onclick="return confirm('Are you sure?')" href="{{ path('data_clean_kpi') }}"><i class="fa fa-recycle"></i>{{ 'KPI Reset'|trans }}</a></li>#}
{#                        <li class="w-100"> <a class="dropdown-item" onclick="return confirm('Are you sure?')" href="{{ path('data_clean_br') }}"><i class="fa fa-recycle"></i>{{ 'Bank Rec. Reset'|trans }}</a></li>#}
{#                        <li class="w-100"> <a class="dropdown-item" onclick="return confirm('Are you sure?')" href="{{ path('data_clean_sms') }}"><i class="fa fa-recycle"></i>{{ 'SMS Reset'|trans }}</a></li>#}
{#                        <li class="w-100"> <a class="dropdown-item" onclick="return confirm('Are you sure?')" href="{{ path('data_clean_app_sync') }}"><i class="fa fa-recycle"></i>{{ 'APP Sync Reset'|trans }}</a></li>#}
                        <li class="w-100"> <a class="dropdown-item" href="{{ path('data_clean_database_backup') }}"><i class="fa fa-download"></i>{{ 'Database Backup'|trans }}</a></li>

                    </ul>

                {% endif %}

                <li class="">
                    <a href="/"><span class="title"><i class="feather icon-home"></i> Home</span></a>
                </li>
                {% if is_granted("ROLE_CORE") or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') or is_granted("ROLE_DEVELOPER") or is_granted("ROLE_MANAGE_EMPLOYEE") %}
                    <li class="">
                        <a class="" href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-info"></i>{{ 'Master Data'|trans }}</a>
                        <ul class="" aria-labelledby="navbarDropdownMenuLink">
                            {% if is_granted("ROLE_DEVELOPER") %}
                                <li><a class="dropdown-item" href="{{ path('core_user') }}"><i class="feather icon-users"></i>{{ 'System User'|trans }}</a></li>
                            {% endif %}
                                <li><a class="dropdown-item" href="{{ path('employee_index') }}"><i class="feather icon-users"></i>{{ 'Employee'|trans }}</a></li>

                            {% if is_granted("ROLE_CORE") or is_granted("ROLE_DEVELOPER") %}
                                <li><a class="dropdown-item" href="{{ path('core_agent') }}"><i class="feather icon-users"></i>{{ 'Agent'|trans }}</a></li>
                                <li><a class="dropdown-item" href="{{ path('core_setting') }}"><i class="feather icon-settings"></i>{{ 'Core Setting'|trans }}</a></li>
                                <li><a class="dropdown-item" href="{{ path('admin_location_index') }}"><i class="feather icon-map"></i>{{ 'Location'|trans }}</a></li>
                            {% endif %}

                            {% if is_granted("ROLE_DEVELOPER") %}
                                <li><a class="dropdown-item" href="{{ path('version_index') }}"><i class="feather icon-bar-chart"></i>{{ 'Version'|trans }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_CRM_POULTRY_USER') or is_granted('ROLE_CRM_CATTLE_USER') or is_granted('ROLE_CRM_AQUA_USER') or is_granted('ROLE_CRM_SALES_MARKETING_USER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') or is_granted("ROLE_DEVELOPER") %}
                    <li class="">
                        <a class="" href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-users"></i>{{ 'CRM'|trans }}</a>
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::crmMenu"
                        )) }}
                    </li>
                {% endif %}

                {% if is_granted('ROLE_KPI_ADMIN') or is_granted("ROLE_DOMAIN") or is_granted('ROLE_KPI_USER') or is_granted('ROLE_KPI_EXECUTIVE') or is_granted("ROLE_DEVELOPER") %}
                    <li class="">
                        <a class="" href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-line-chart"></i> {{ 'KPI'|trans }}</a>
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::kpiMenu"
                        )) }}
                    </li>
                {% endif %}

                {% if is_granted('ROLE_BR_ADMIN') or is_granted("ROLE_DOMAIN") or is_granted("ROLE_DEVELOPER") or is_granted("ROLE_BR_USER") %}
                    <li class="">
                        <a class="" href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-trello"></i>{{ 'Bank Reconciliation'|trans }}</a>
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::bankReconciliationMenu"
                        )) }}
                    </li>
                {% endif %}

                {% if is_granted('ROLE_SMS_ADMIN') or is_granted("ROLE_DOMAIN") or is_granted('ROLE_SMS_USER') or is_granted("ROLE_DEVELOPER") %}
                    <li>
                        <a class="" href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-send-o"></i>{{ 'SMS Center' }}</a>
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::smsCenterMenu"
                        )) }}
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if app.user is  empty %}
                <li class="search"><a href="#"><i class="fa fa-lock"></i></a></li>
                {% else %}
                <li>
                    <div class="dropdown drp-user">
                        <a href="javascript:" style="color: #ffffff!important;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-user"></i> {{  app.user.name }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if app.user.name %}
                            <div class="dropdown-header" >ID-{{ app.user.userId }} / {{ app.user.name }}</div>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            {% if is_granted("ROLE_ALLOWED_TO_SWITCH") %}
                                <a class="dropdown-item myProfile" href="{{ path('switch_user') }}"><i class="feather icon-user"></i> Switch User</a>
                            {% endif %}
{#                            <a href="{{path('switch_back')}}">Exit impersonation</a>#}

                            <a class="dropdown-item myProfile" href="{{ path('my_profile') }}"><i class="feather icon-user"></i> My Account</a>
                            <a class="dropdown-item" href="{{ path('user_change_password') }}"><i class="feather icon-lock"></i> Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('security_logout') }}"  title="Logout"><i class="feather icon-log-out"></i> Logout</a>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
