{% extends 'admin/layout.html.twig' %}
 {% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ entity.companyName }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Organization'|trans }} : {{ entity.companyName }}</h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'A. Registration Basic'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.registrationCategory, 'A.1 Registration Category'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.registrationCategory) }}
                                                {{ form_errors(form.registrationCategory) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.economicActivity, 'Economic Activity'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.economicActivity) }}
                                                {{ form_errors(form.economicActivity) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.oldBin, 'Old 11 Digit BIN'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.oldBin) }}
                                                {{ form_errors(form.oldBin) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.companyName, 'Name of Company'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.companyName) }}
                                                {{ form_errors(form.companyName) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>B. Business Information</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.businessOwnership, 'B.1 Type of Ownership'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.businessOwnership) }}
                                                {{ form_errors(form.businessOwnership) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.otherOwnershipType, 'Other Ownership Type'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                <span class="not-blank">&nbsp;</span>
                                                {{ form_widget(form.otherOwnershipType) }}
                                                {{ form_errors(form.otherOwnershipType) }}
                                                {{ form_help(form.otherOwnershipType) }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.holdingEntity) }}
                                                {{ form_errors(form.holdingEntity) }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>C. General Information</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.tradeLicense, 'C1. Trade License (if applicable)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.tradeLicense) }}
                                                {{ form_errors(form.tradeLicense) }}
                                                {{ form_help(form.tradeLicense) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.tradeLicenseIssueDate, 'Issue Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.tradeLicenseIssueDate) }}
                                                {{ form_errors(form.tradeLicenseIssueDate) }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.incorporationNo, 'C2. RJSC Incorporation No (if any)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.incorporationNo) }}
                                                {{ form_errors(form.incorporationNo) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.incorporationIssueDate, 'Issue Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.incorporationIssueDate) }}
                                                {{ form_errors(form.incorporationIssueDate) }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.eTin, 'C3. e-TIN(if applicable)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.eTin) }}
                                                {{ form_errors(form.eTin) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.eTinNameOfCompany, 'C4. Name of the Company (As in e-TIN)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.eTinNameOfCompany) }}
                                                {{ form_errors(form.eTinNameOfCompany) }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.differentEtin, 'C5. Name of the Company (if diffrent than in e-TIN)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.differentEtin) }}
                                                {{ form_errors(form.differentEtin) }}
                                                {{ form_help(form.differentEtin) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.tradingBrandName, 'C6. Trading Brand Name(if any)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.tradingBrandName) }}
                                                {{ form_errors(form.tradingBrandName) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.registrationType, 'C7. Registration Type'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.registrationType) }}
                                                {{ form_errors(form.registrationType) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.equityInformation, 'C8. Equity Information'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.equityInformation) }}
                                                {{ form_errors(form.equityInformation) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.equityLocalShare, 'Local Sahre(%)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                <span class="not-blank">&nbsp;</span>
                                                {{ form_widget(form.equityLocalShare) }}
                                                {{ form_errors(form.equityLocalShare) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.bidaRegistrationNo, 'C9. Bida Registration No(if any)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.bidaRegistrationNo) }}
                                                {{ form_errors(form.bidaRegistrationNo) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.bidaIssueDate, 'Issue Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.bidaIssueDate) }}
                                                {{ form_errors(form.bidaIssueDate) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>D. Contact Information</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.companyOperationAddress, 'D1. Factory/Business Operations Address'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.companyOperationAddress) }}
                                                {{ form_errors(form.companyOperationAddress) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.district, 'D2. District'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.district) }}
                                                {{ form_errors(form.district) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.policeStation, 'D3. Police Station'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.policeStation) }}
                                                {{ form_errors(form.policeStation) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.postCode, 'D4. Post Code'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.postCode) }}
                                                {{ form_errors(form.postCode) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.landPhoneNo, 'D5. Land Telephone Number(if any)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.landPhoneNo) }}
                                                {{ form_errors(form.landPhoneNo) }}
                                                {{ form_help(form.landPhoneNo) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.mobile, 'D6. Mobile Telephone Number'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.mobile) }}
                                                {{ form_errors(form.mobile) }}
                                                {{ form_help(form.mobile) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.postCode, 'D7. e-Mail'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.email) }}
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.faxNumber, 'D8. Fax Number(if any)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.faxNumber) }}
                                                {{ form_errors(form.faxNumber) }}
                                                {{ form_help(form.faxNumber) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.webAddress, 'D9. Web Address(if any)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.webAddress) }}
                                                {{ form_errors(form.webAddress) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.headQuarterAddress, 'D10. Registred HQ Address [If different than address of D1](if any)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.headQuarterAddress) }}
                                                {{ form_errors(form.headQuarterAddress) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.headQuarterAddressOutside, 'D11. Registred HQ Address out side Bangladesh [for 100% foreign ownership](if any)'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.headQuarterAddressOutside) }}
                                                {{ form_errors(form.headQuarterAddressOutside) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>List of Branch Units You wish To Bring Under Central Registration</h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-body card-body-inner">
                                    <div class="row">
                                        <div class="col-md-4">Branch Address</div>
                                        <div class="col-md-2">Branch Name</div>
                                        <div class="col-md-2">Category</div>
                                        <div class="col-md-2">Annual Turnover</div>
                                        <div class="col-md-2">BIN(if any)</div>
                                    </div>
                                    <div class="clone-block" id="clone-block">
                                        <div class="clone">
                                            <div class="row">
                                                <div class="col-md-4"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm col-md-8" placeholder="Enter your comments">
                                                    <div class="input-group-append">
                                                        <div data-action="/en/core/vendor/create-ajax" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                            <i class="fa fa-remove"></i>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>F. Major Area of Economic Activity </h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                {{ form_widget(form.isManufacturing) }}
                                                {{ form_errors(form.isManufacturing) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                {{ form_widget(form.isServicing) }}
                                                {{ form_errors(form.isServicing) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                {{ form_widget(form.isImport) }}
                                                {{ form_errors(form.isImport) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.ircNumber, 'IRC Number'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.ircNumber) }}
                                                {{ form_errors(form.ircNumber) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.ircIssueDate, 'Issue date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.ircIssueDate) }}
                                                {{ form_errors(form.ircIssueDate) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                {{ form_widget(form.isExport) }}
                                                {{ form_errors(form.isExport) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.ercNumber, 'ERC Number'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.ercNumber) }}
                                                {{ form_errors(form.ercNumber) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.ercIssueDate, 'Issue date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.ercIssueDate) }}
                                                {{ form_errors(form.ercIssueDate) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                {{ form_widget(form.isEconomicActivityOther) }}
                                                {{ form_errors(form.isEconomicActivityOther) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            {{ form_label(form.economicActivityOther, 'Please Specify'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.economicActivityOther) }}
                                                {{ form_errors(form.economicActivityOther) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>G. Area of Manufacturing [Mandatory if  Taxpayer Select "Manufacturing" in Field F1] </h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.manufacturingArea) }}
                                                {{ form_errors(form.manufacturingArea) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.manufacturingOther, 'Manufacturing Other Area'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.manufacturingOther) }}
                                                {{ form_errors(form.manufacturingOther) }}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>H. Area of Service [Mandatory if  Taxpayer Select "Services" in Field F2] </h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.servicingArea) }}
                                                {{ form_errors(form.servicingArea) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.servicingOther, 'Serviceses Other Area'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.servicingOther) }}
                                                {{ form_errors(form.servicingOther) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>I. Business Classification Code [Mandatory if  Taxpayer Select "Manufacturing" in Field F1 And/Or "Services" in Field F2] </h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-body card-body-inner">
                                    <div class="row">
                                        <div class="col-md-4">Commercial Description of Supply</div>
                                        <div class="col-md-4">H.S/Service Code</div>
                                        <div class="col-md-4">Description of H.S/Service Code</div>
                                    </div>
                                    <div class="clone-block" id="clone-block">
                                        <div class="clone">
                                            <div class="row">
                                                <div class="col-md-4"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-4"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-4"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm col-md-10" placeholder="Enter your comments">
                                                    <div class="input-group-append">
                                                        <div data-action="/en/core/vendor/create-ajax" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                            <i class="fa fa-remove"></i>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="card-header grey-bg inner-header">
                                    <h5>J. Bank Account Details</h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-body card-body-inner">
                                    <div class="row">
                                        <div class="col-md-4">Account Name</div>
                                        <div class="col-md-4">Bank Name</div>
                                        <div class="col-md-2">Account Number</div>
                                        <div class="col-md-2">Branch Name</div>
                                    </div>
                                    <div class="clone-block" id="clone-block">
                                        <div class="clone">
                                            <div class="row">
                                                <div class="col-md-4"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-4"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm col-md-8" placeholder="Enter your comments">
                                                    <div class="input-group-append">
                                                        <div data-action="/en/core/vendor/create-ajax" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                            <i class="fa fa-remove"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>K. Information About Owners/Directories/Head of Entity</h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-body card-body-inner">
                                    <div class="row">
                                        <div class="col-md-4">Full Name</div>
                                        <div class="col-md-1">Share(%)</div>
                                        <div class="col-md-2">NID/Passport</div>
                                        <div class="col-md-2">Country</div>
                                        <div class="col-md-2">e-TIN</div>
                                    </div>
                                    <div class="clone-block" id="clone-block">
                                        <div class="clone">
                                            <div class="row">
                                                <div class="col-md-4"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-1"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm col-md-8" placeholder="Enter your comments">
                                                    <div class="input-group-append">
                                                        <div data-action="/en/core/vendor/create-ajax" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                            <i class="fa fa-remove"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>L. Business Operations</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.taxableTurnover, 'Taxable Turnover in past 12 months period (if applicable)'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-2">
                                                {{ form_widget(form.taxableTurnover) }}
                                                {{ form_errors(form.taxableTurnover) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.projectedTurnover, 'Projected Turnover in past 12 months period (if applicable)'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-2">
                                                {{ form_widget(form.projectedTurnover) }}
                                                {{ form_errors(form.projectedTurnover) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.noOfEmployee, 'No of Employees'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-2">
                                                {{ form_widget(form.noOfEmployee) }}
                                                {{ form_errors(form.noOfEmployee) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4">&nbsp;</label>
                                            <div class="col-md-6">
                                                {{ form_widget(form.zeroRatedSupply) }}
                                                {{ form_errors(form.zeroRatedSupply) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4">&nbsp;</label>
                                            <div class="col-md-6">
                                                {{ form_widget(form.vatExemptedSupply) }}
                                                {{ form_errors(form.vatExemptedSupply) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>L6. Major Capital Machinery(if applicable)</h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-body card-body-inner">
                                    <div class="row">
                                        <div class="col-md-3">Description</div>
                                        <div class="col-md-1">Quantity</div>
                                        <div class="col-md-2">HS Code</div>
                                        <div class="col-md-2">Value In BDT</div>
                                        <div class="col-md-2">Production Capacity</div>
                                        <div class="col-md-2">Physical Condition</div>
                                    </div>
                                    <div class="clone-block" id="clone-block">
                                        <div class="clone">
                                            <div class="row">
                                                <div class="col-md-3"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-1"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm col-md-8" placeholder="Enter your comments">
                                                    <div class="input-group-append">
                                                        <div data-action="/en/core/vendor/create-ajax" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                            <i class="fa fa-remove"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>L7. Input-Outdata Data(if applicable)</h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-body card-body-inner">
                                    <div class="row">
                                        <div class="col-md-2">Commercial Description of Output</div>
                                        <div class="col-md-2">HS/Service Code of Output</div>
                                        <div class="col-md-2">Selling Unit</div>
                                        <div class="col-md-2">Description of Major Inputs</div>
                                        <div class="col-md-2">HS/Service Code of Input</div>
                                        <div class="col-md-2">Quantity of input used per unit of output</div>
                                    </div>
                                    <div class="clone-block" id="clone-block">
                                        <div class="clone">
                                            <div class="row">
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm col-md-8" placeholder="Enter your comments">
                                                    <div class="input-group-append">
                                                        <div data-action="/en/core/vendor/create-ajax" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                            <i class="fa fa-remove"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>M. Authorized Persons Information for Online Activity</h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-body card-body-inner">
                                    <div class="row">
                                        <div class="col-md-2">Name</div>
                                        <div class="col-md-2">Designation</div>
                                        <div class="col-md-2">NID</div>
                                        <div class="col-md-2">Mobile No.</div>
                                        <div class="col-md-2">E-mail</div>
                                        <div class="col-md-2">Purpose</div>
                                    </div>
                                    <div class="clone-block" id="clone-block">
                                        <div class="clone">
                                            <div class="row">
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments"></div>
                                                <div class="col-md-2"> <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm col-md-8" placeholder="Enter your comments">
                                                    <div class="input-group-append">
                                                        <div data-action="/en/core/vendor/create-ajax" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                            <i class="fa fa-remove"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                                <div class="form-actions right">
                                    <div class="col-md-12">

                                        <div class="btn-group" role="group">
                                            <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'SaveAndCreate', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}