
<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i> Create New User</div>
    </div>
    <div class="portlet-body form">
        <form action="{{ actionUrl }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm">
        <div class="row form-body">
            <div class="col-md-12"></div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.name, 'label.name', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.mobile, 'label.mobile', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.mobile) }}
                        {{ form_errors(form.mobile) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.email, 'label.email', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.email, {'attr': {'class': 'form-control input-lg'}}) }}
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.username, 'label.username', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.password.first, 'label.password', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control input-lg'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.password.second, 'label.new_password_confirm', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control input-lg'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions right">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<style>
    .btn{
        border-radius: 0!important;
    }
    .form-body{
        display: flex;
        align-items: center;
    }
    .form-control{
        position: relative;
    }
    label.error{
        position: absolute;
        top: -3px;
        font-size: 12px;
        left: 14px;
        color: #ff2515;
    }
</style>