.btn-transparent{
    background: transparent!important;
}
.is-required {
    text-align: right;
    display: block;
    color: #dc3545;
    font-size: 15px;
    left: 0px;
    position: absolute;
    z-index: 99;
    top: 8px;
}

.ui-checkboxradio-label .ui-icon-background{
    border: 1px solid #007fff!important;
    box-shadow: none!important;
}
.form-actions.inline-title{
    border-bottom: 1px solid #0075dd;
    border-bottom: 1px solid #0075dd;
    padding-top: 8px;
    padding-bottom: 8px!important;
    color: #000;
    background: #ddd!important;
    margin-bottom: 15px;
}

.input-group .select2-container{
    float: left!important;
    z-index: auto!important;
    width:100%!important;
}
.input-group-select .select2-container{
    float: left!important;
    width: 82%!important;
    z-index: auto!important;
}

.form-horizontal .form-group-label {
    margin-left: -15px;
    margin-right: -15px;
    clear: both;
    display: flex;
    margin-bottom: 0;
}
.form-horizontal .form-group-label label{
    margin-bottom: 5px!important;
}

.checkbox label{
    margin-left: 0!important;
}
input[type=checkbox].css-checkbox {
    width: 18px;
    height: 18px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.table-striped tbody tr.warning{
    background: #dcce7b!important;
}

.messagebox{
z-index: 99999;
}

.form-group-list{
     width:100%;
     display: inline-block;
}
.form-group-list label{
    margin-bottom: 0!important;
    color: #000000;
}

.checkbox label .toggle{
    margin-left:0;
}

.textarea{
    min-height: 60px!important;
}

.page-link {
    color: #37474f;
}

textarea.form-control {
    width: 100%;
    background-color: #fff;
    border: 1px solid #c2cad8!important;
    border-radius: 0!important;
    box-shadow: none!important;
    padding: 7px 10px !important;
    height: auto;
}

select.form-control:not([size]):not([multiple]){
    height: 30px!important;
    line-height: 30px!important;
    padding: 0px 7px !important;
}

select.form-control-lg:not([size]):not([multiple]) {
    height: 38px!important;
    line-height: 38px!important;
    padding: 0px 7px !important;
}

.card-block{
  position: relative;
}

.form .form-actions.modal-form-action{
    margin-left: 0!important;
    margin-right: 0!important;
}

.span12{
    width: 100%;
}
.span11{
    width: 91.45299145299145%;
}
.span10{
    width: 82.90598290598291%;
}
.span9{
    width: 74.35897435897436%;
}
.span8{
    width: 65.81196581196582%;
}
.span7{
    width: 57.26495726495726%;
}
.span6{
    width: 48.717948717948715%;
}
.span5{
    width: 40.17094017094017%;
}
.span4{
    width: 31.623931623931625%;
}
.span3{
    width: 23.076923076923077%;
}
.span2{
    width: 14.52991452991453%;
}
.span1{
    width: 9.982905982905983%;
}

.card .card-header.gray-bg{
    background: #748792!important;
}

.form-horizontal .form-group.bank-hide , .form-horizontal .form-group.mobile-hide{
    display: none;
}

.show-method{
    display: block!important;
}

.remodal{
    max-width: 100%!important;
}

.inner-header{
    margin-left: -20px!important;
    margin-right: -20px!important;
    background:#f4f7fa!important;
}

.table .thead-dark th {
    color: #0d0c0c;
    background-color: #dbdee34a;
    border-bottom-color:#4C9EE7;
}

.card-block{
    position: relative;
}

.card .card-header.item-box{
    border-top: 2px solid #4C9EE7!important;
}

.portlet.box>.portlet-body {
    background-color: #fff;
    padding: 15px;
    padding-bottom: 0!important;
    clear: both;
}
.form-inner{
    width: 100%;
    display: block;
    padding-top: 54px;
}

.form-inner-no-space{
    width: 100%;
    display: block;
}

.card .card-body.card-body-inner{
    padding-left: 7px;
    padding-right: 7px;
}

.hidden{
    display: none;
}
.clone{
    margin-bottom: 5px;
}
.ms-container{
    width: 100%;
}
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection{
    text-align: left;
}
.ms-container .ms-optgroup-label {
    margin: 0;
    padding: 5px 0px 5px 5px;
    cursor: pointer;
    color: #343a40;
    font-weight: bold;
    background: #c7c9cb;
}
.btn{
    border-radius: 0!important;
}
.form-body{
    display: flex;
    align-items: stretch;
}
.form-control{
    position: relative;
}
label.error{
    position: absolute;
    top: -16px;
    font-size: 12px;
    left: 14px;
    color: #ff2515;
}

.checkbox{
    float: left;
    width: 100%;
}
.checkbox label{
    width: 100%;
    float: left;
    text-align: left;
    margin-left: 18px;
}

.checkbox label.ui-checkboxradio-label{
    width: 100%;
    float: left;
    text-align: left;
    margin-left:0;
}

#process-msg{
    display: none;
}
.alert-success{
    border-radius: 0!important;
}

.select2-container .select2-results__option{
font-size: 12px!important;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered{
    text-align: left;
}

.slow  .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.fast  .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
.quick .toggle-group { transition: none;      -webkit-transition: none; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border-radius: 0!important;
}



.select2-container .select2-selection--single {
    height: 31px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    font-size: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select-box .select2-container .select2-selection--single , .select2-large .select2-container .select2-selection--single{
    height: 38px!important;
}
.select-box .select2-container .select2-selection--single .select2-selection__rendered , .select2-large .select2-container .select2-selection--single .select2-selection__rendered{
    line-height: 38px!important;
}
.select-box .select2-container .select2-selection--single .select2-selection__arrow , .select2-large .select2-container .select2-selection--single .select2-selection__arrow{
    height: 34px;
}

.custom_button {
    color               : #ffffff;
    background-color    : #3ebfea;
}
.custom_button:hover {
    color               : #ffffff;
    background-color    : #0db4ea;
}
.custom_button:active {
    color               : #ffffff;
    background-color    : #3ebfea;
    box-shadow          : none;
}

.help-block ul.list-unstyled{
    margin-bottom:0!important;
}
.custom-file{
    overflow: hidden;
}
.custom-file-label{
    height: 30px;
    line-height: 18px;
    font-size: 11px;
}
.custom-file-label::after {
    height: 28px;
    line-height: 18px;
    content: "Browse";
    border-radius: 0;
}
#discountPercent{
    font-size: 10px;
    color: red;
    font-weight: bold;
}

#check-btn{
    display: none;
    position: absolute;
    right: 2%;
    top: 30px;
    z-index: 9;
}

.form-group-list{
    width:100%;
    display: inline-block;
}
.form-group-list label{
    margin-bottom: 0!important;
    color: #000000;
}

.batch{
    display: none;
}
.checkbox-line{
    line-height: 40px; padding-right: 15px
}
.clearfix-margin-bottom{
    margin-bottom: 7px;
}
.input-line-text{
    line-height: 30px;
    font-weight: bold;
}
#netTotal {
    font-weight: bold;
}
.tfoot-grand-total{
    border-top: 2px solid #28a745;
    border-bottom: 2px solid #28a745
}
.editableform {
    position: relative;
    height: 30px;
    display: block;
    width: 250px!important;
}
.editable-buttons {
    position: absolute;
    right: -4px;
    top: 4px;
}
.editable-buttons .editable-cancel{
    color: red!important;
}