{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('admin_location') }}">  {{ 'Location'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Location'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('admin_location_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('admin_location') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Location'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <form action="{{ path('admin_location') }}" method="get">
                        <table class="table table-striped table-bordered table-hover m-0">
                            <thead>
                            <tr role="row" class="filter">
                                <td width="350">
                                    <input type="text" class="form-control" name="name" placeholder="Location Name" autocomplete="off" value="{% if filterBy['name'] is defined %}{{ filterBy['name'] }}{% endif %}">
                                </td>
                                <td width="350">
                                    <input type="text" class="form-control" name="parent" placeholder="Parent Name" autocomplete="off" value="{% if filterBy['parent'] is defined %}{{ filterBy['parent'] }}{% endif %}">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary btn-sm" title="Search"><i class="fa fa-search"></i></button>
                                    <button type="reset" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh"></i></button>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </form>
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" width="50">S/N</th>
                            <th scope="col">Name</th>
                            <th scope="col">Parent Name</th>
                            <th scope="col" class=" text-center" width="100"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if records is defined and records is not empty %}
                            {% for record in records %}
                                <tr>
                                    <td>{{ loop.index }}</td>

                                    <td
                                            data-type="text"
                                            class="editable"
                                            id="name-{{ record.id }}"
                                            data-name="name"
                                            href="#"
                                            data-source="#"
                                            data-url="{{ path('inline_update_location') }}"
                                            data-pk="{{ record.id }}"
                                            data-value="{{ record.locationName }}"
                                            data-original-title="Update"
                                            title="Click to update"
                                    >
                                        {{ record.locationName }}
                                    </td>
                                    <td>{{ record.parentName|default('') }}</td>
                                    <td align="center">
                                        <div class="btn-group">
{#                                            <a class="btn btn-mini yellow-bg white-font" href="{{ path('admin_location_edit', {id: record.id}) }}"><i class="feather icon-edit"></i> Edit</a>#}
                                            <a class="btn btn-transparent btn-mini red-font remove" data-action="{{ path('admin_location_delete', {id:record.id}) }}" href="javascript:"><i class="fa fa-remove"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3" align="center">{{ 'No records found!'|trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="count">
                    Total Records: {{ records.getTotalItemCount }}
                </div>
            </div>
            <div class="col-md-9 navigation" style="padding-right: 0;">
                {{ knp_pagination_render(records) }}
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .pagination{
            float: right;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{#    <script type="application/javascript" src="{{ asset('assets/module/core/js/ajax-location.js') }}"></script>#}
    <script type="application/javascript" src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>
    <script>
        $.fn.editable.defaults.mode ='inline';
        {#    $.fn.editable.defaults.mode = 'popover';#}
        $('.editable').editable();
    </script>

{% endblock  %}

