{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('admin_location') }}">  {{ 'Settings'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Location'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('admin_location_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('admin_location') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Location'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage Location'|trans }} </div>
                    </div>

                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-6 offset-1">
                                        <div class="form-group">
                                            {{ form_label(form.type, 'Type'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
{#                                                <span class="not-blank"> *</span>#}
                                                {{ form_widget(form.type) }}
                                                {{ form_errors(form.type) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.parent, 'Parent'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
{#                                                <span class="not-blank"> *</span>#}
                                                {{ form_widget(form.parent) }}
                                                {{ form_errors(form.parent) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.name, 'Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.name) }}
                                                {{ form_errors(form.name) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.code, 'Code'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.code) }}
                                                {{ form_errors(form.code) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-actions">
                                    <div class="col-md-6 ">

                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script>
        $("#location_type").on('change', function () {
            const locationTypeLevel = $(this).val();
            $.ajax({
                url: Routing.generate('location_by_level'),
                type: 'get',
                dataType: 'json',
                data: {locationTypeLevel:locationTypeLevel},
                success: function (res) {
                    console.log(res)
                    $("#location_parent").find('option').remove();
                    $("#location_parent").append($('<option>', {value:'', text:'- Select Parent -'}));
                    $.each(res.data, function (name, id) {
                        $("#location_parent").append($('<option>', {value:id, text:name}))
                    })
                }
            })
        })
    </script>
{% endblock  %}