{% extends 'admin/layout.html.twig' %}


{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/">{{ 'Dashboard'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->

        {% if selfKpi is defined and selfKpi is not empty %}

            {% include 'inc/_self-kpi.html.twig' %}

        {% endif %}

        {% if teamMembersKpi is defined and teamMembersKpi is not empty %}

            {% include 'inc/_team-member-kpi.html.twig' %}

        {% endif %}
        <!-- [ Main Content ] end -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                {#                <div class="modal-header" style="display: block">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Grade Details</h4>
                                </div>

                                <div class="modal-body">

                                </div>#}


            </div>
        </div>
    </div>
    <style>
        .modal-lg {
            width: 65%;
            max-width: 65%;
            /*height: 100%;*/
            padding: 0;
        }

        .modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 0;
        }
    </style>

{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .ui-datepicker-calendar {
            display: none
        }

        .nav li a.active {
            background-color: #007bff;
        }

        #data-loader {
            /*background: rgba(175, 175, 175, 0.8);*/
            background: transparent;
            display: none;
            height: 10%;
            position: absolute;
            width: 96.7%;
            z-index: 9999;
            top: 108px;
        }

        #data-loader img {
            left: 50%;
            /* margin-left: -32px; */
            margin-top: -32px;
            position: absolute;
            top: 50%;
            border-bottom: 3px solid #fff;
            width: 5vh;
        }

        #data-loader p {
            left: 50%;
            margin-left: -18px;
            /*margin-top: -32px;*/
            position: absolute;
            top: 54%;
            color: #ff5300;
            /*font-size: 16px;*/
            margin-bottom: 0px;
            font-weight: 700;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>


    <script>
        {#    Append Grade details#}
        jQuery("#myModal").on("show.bs.modal", function (e) {
            var url = jQuery(e.relatedTarget).data('action');

            jQuery.get(url, function (data) {
                jQuery(".modal-content").html(data.html);
            });

        });

        $("#dashboardSelectYear").on("change", function () {
            $("#data-loader").fadeIn();
            let year = $(this).val();
            if (year) {
                $("#team-member-kpi-details-excel").attr("href", Routing.generate('team_member_kpi_details_excel', {'year': year}))

                $.ajax({
                    type: "POST",
                    url: $(this).attr("data-action"),
                    data: {year: year},
                    success: function (res) {
                        // console.log(res);
                        $("#data-loader").fadeOut();
                        $("table tbody.team-member-details").html(res.html);

                    }
                })
            }
        });

        $('#datatable').DataTable({
            "pageLength": 25,
            "order": ([1, "asc"]),
            'columnDefs': [{
                'targets': -1,
                'orderable': false
            }]
        });

    </script>
{% endblock %}
