{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">  Form Componants</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">Form Elements</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>Basic Componant</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="http://www.ibilling.local/user" class="btn btn-sm indigo-bg white-font"><i class="fa fa-th-list"></i>Users</a>
                            <a href="http://www.ibilling.local/user/create" class="btn btn-sm  btn-info"><i class="fas fa-sign-out-alt"></i>Add Users</a>
                        </div>
                        <div class="btn-group card-option">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-original-title="" title="">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="list-unstyled dropdown-info card-option dropdown-menu dropdown-menu-right" x-placement="bottom-end">

                                <li class="dropdown-item">

                                    <a id="excelBtn" class="dropdown-item" href="javascript:"> <i class="far fa-file-excel"></i> Excel</a></li>
                                <li class="dropdown-item">
                                    <a id="pdfBtn" class="dropdown-item" href="javascript:"> <i class="far fa-file-pdf"></i> PDF</a></li>
                                <li class="dropdown-item">
                                    <a id="printBtn" class="dropdown-item" href="javascript:"> <i class="fa fa-print" aria-hidden="true"></i> Print</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h5>Form controls</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <div class="input-icon">
                                        <i class="fa fa-user font-red"></i>
                                        <input type="text" class="form-control" placeholder="Left icon"> </div>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button">Button</button>
                                        <button class="btn btn-primary" type="button">Button</button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button">Button</button>
                                        <button class="btn btn-primary" type="button">Button</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label>Text</label>
                                    <input type="text" class="form-control" placeholder="Text">
                                </div>
                                <div class="form-group">
                                    <label>Text</label>
                                    <div class="custom-file">
                                        <input type="file" class=" form-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                                <div class="input-group  input-group-sm">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button">Button</button>
                                        <button class="btn btn-primary" type="button">Button</button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button">Button</button>
                                        <button class="btn btn-primary" type="button">Button</button>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="form-group">
                                    <label>Text</label>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" checked="checked" class="custom-control-input" id="switch1">
                                        <label class="custom-control-label" for="switch1">Toggle me</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                        <div class="input-group-prepend">
                                            <span data-placement="top" data-toggle="tooltip" title="In the following section, I will show you various examples of creating tooltips. These include simple with default direction, in all directions, tooltips with HTML content, customizing the appearance of tooltip and more." class="input-group-text" id="basic-addon1"> <i class="fa fa-question-circle"></i></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Example select</label>
                                    <select class="form-control select2" >
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Multiple select</label>
                                    <select class="form-control select2"  multiple="multiple">
                                        <option>1-Test</option>
                                        <option>2-Test</option>
                                        <option>3-Test</option>
                                        <option>4-Test</option>
                                        <option>5-Test</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Example textarea</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Text Editor</label>
                                    <div class="summernote">summernote 1</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portlet box gray ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i> Horizontal Form Height Sizing </div>
                                    <div class="tools">
                                        <a href="" class="collapse" data-original-title="" title=""> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                        <a href="" class="reload" data-original-title="" title=""> </a>
                                        <a href="" class="remove" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <form class="form-horizontal form-horizontal-left" role="form">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Large Input</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control input-lg" placeholder="Large Input"> </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Default Input</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Default Input"> </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" type="button">Button</button>
                                                    <button class="btn btn-primary" type="button">Button</button>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" type="button">Button</button>
                                                    <button class="btn btn-primary" type="button">Button</button>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Inline Editor</label>
                                                <a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Small Input</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control input-sm" placeholder="Default Input"> </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Large Select</label>
                                                <div class="col-md-9">
                                                    <select class="form-control input-lg">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                        <option>Option 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Default Select</label>
                                                <div class="col-md-9">
                                                    <select class="form-control">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                        <option>Option 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Small Select</label>
                                                <div class="col-md-9">
                                                    <select class="form-control input-sm">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                        <option>Option 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions left">
                                            <button type="button" class="btn default">Cancel</button>
                                            <button type="submit" class="btn green">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portlet box purple ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i> Horizontal Form Height Sizing </div>
                                    <div class="tools">
                                        <a href="" class="collapse" data-original-title="" title=""> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                        <a href="" class="reload" data-original-title="" title=""> </a>
                                        <a href="" class="remove" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <form class="form-horizontal right" role="form">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Large Input</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control input-lg" placeholder="Large Input"> </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Default Input</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Default Input"> </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Small Input</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control input-sm" placeholder="Default Input"> </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Large Select</label>
                                                <div class="col-md-9">
                                                    <select class="form-control input-lg">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                        <option>Option 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Default Select</label>
                                                <div class="col-md-9">
                                                    <select class="form-control">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                        <option>Option 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Small Select</label>
                                                <div class="col-md-9">
                                                    <select class="form-control input-sm">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                        <option>Option 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <button type="button" class="btn btn-warning"><i class="fas fas-remove "></i> Cancel</button>
                                            <button type="submit" class="btn btn btn-primary"><i class="fa fa-save"></i> Save </button> <button type="submit" class="btn btn btn-info"><i class="fa fa-th"></i> Save & Continue</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="mt-5">Sizing</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="mb-3 form-control form-control-lg" type="text" placeholder=".form-control-lg">
                            <input class="mb-3 form-control" type="text" placeholder="Default input">
                            <input class="mb-3 form-control form-control-sm" type="text" placeholder=".form-control-sm">
                        </div>
                        <div class="col-md-6">
                            <select class="mb-3 form-control form-control-lg">
                                <option>Large select</option>
                            </select>
                            <select class="mb-3 form-control">
                                <option>Default select</option>
                            </select>
                        </div>
                    </div>
                    <h5 class="mt-5">Inline</h5>
                    <hr>
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label for="staticEmail2" class="sr-only">Email</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword2" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
                    </form>
                    <h3 class="mt-5">Checkboxes and Radios</h3>
                    <h5 class="mt-3">Checkboxes</h5>
                    <hr>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mt-5">Radios</h5>
                            <hr>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                            </div>
                            <h5 class="mt-5">Inline</h5>
                            <hr>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">Toggle this custom radio</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Or toggle this other custom radio</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 class="mt-5">Range</h5>
                            <hr>
                            <label for="customRange1">Example range</label>
                            <input type="range" class="custom-range" id="customRange1">
                            <label for="customRange2">Example range</label>
                            <input type="range" class="custom-range" min="0" max="5" id="customRange2">
                            <label for="customRange3">Example range</label>
                            <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Input group -->
            <div class="card">
                <div class="card-header">
                    <h5>Input Group</h5>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">@example.com</span>
                        </div>
                    </div>
                    <label for="basic-url">Your vanity URL</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <h5 class="mt-5">Sizing</h5>
                    <hr>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <h5 class="mt-5">Button Addons</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary" type="button">Button</button>
                                </div>
                                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">Button</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary" type="button">Button</button>
                                    <button class="btn btn-secondary" type="button">Button</button>
                                </div>
                                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button">Button</button>
                                    <button class="btn btn-primary" type="button">Button</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 class="mt-5">Buttons With Dropdowns</h5>
                            <hr>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Separated link</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                <div class="input-group-append">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 class="mt-5">Segmented Buttons</h5>
                            <hr>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-secondary">Action</button>
                                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Separated link</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary">Action</button>
                                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>Customers</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="http://www.ibilling.local/customer" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>Customer</a>
                            <a href="http://www.ibilling.local/customer/create" class="btn btn-sm  green-bg white-font"><i class="fas fa-sign-out-alt"></i>Add New</a>
                            <a href="http://www.ibilling.local/transaction/create" class="btn btn-sm  btn-danger"><i class="fas fa-money-bill"></i>Payment Receive</a>
                        </div>
                        <div class="btn-group card-option">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-original-title="" title="">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="list-unstyled dropdown-info card-option dropdown-menu dropdown-menu-right" x-placement="bottom-end">

                                <li class="dropdown-item">

                                    <a id="excelBtn" class="dropdown-item" href="javascript:"> <i class="far fa-file-excel"></i> Excel</a></li>
                                <li class="dropdown-item">
                                    <a id="pdfBtn" class="dropdown-item" href="javascript:"> <i class="far fa-file-pdf"></i> PDF</a></li>
                                <li class="dropdown-item">
                                    <a id="printBtn" class="dropdown-item" href="javascript:"> <i class="fa fa-print" aria-hidden="true"></i> Print</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="datatable_ajax_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="datatable_ajax_length"><label>Show <select name="datatable_ajax_length" aria-controls="datatable_ajax" class="-sm form-control form-control-sm"><option value="20">20</option><option value="50">50</option><option value="100">100</option><option value="150">150</option><option value="-1">All</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12">
                                <table class="table table-striped table-bordered  dataTable no-footer" id="datatable_ajax" role="grid" aria-describedby="datatable_ajax_info">
                                    <thead class="thead-dark">

                                    <tr role="row"><th scope="col" class="sorting_disabled" rowspan="1" colspan="1" aria-label="S/N" style="width: 25.0024px;">S/N</th><th scope="col" class="sorting_asc" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 103.002px;">Name</th><th scope="col" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="UserID: activate to sort column ascending" style="width: 112.002px;">UserID</th><th scope="col" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Mobile: activate to sort column ascending" style="width: 119.002px;">Mobile</th><th scope="col" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Zone: activate to sort column ascending" style="width: 76.0024px;">Zone</th><th scope="col" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Package: activate to sort column ascending" style="width: 62.0024px;">Package</th><th scope="col" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Type: activate to sort column ascending" style="width: 65.0024px;">Type</th><th scope="col" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Mode: activate to sort column ascending" style="width: 62.0024px;">Mode</th><th scope="col" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Bandwidth: activate to sort column ascending" style="width: 92.0024px;">Bandwidth</th><th scope="col" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 55.0024px;">Status</th><th scope="col" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Connected: activate to sort column ascending" style="width: 73.0024px;">Connected</th><th scope="col" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Outstanding: activate to sort column ascending" style="width: 85.0024px;">Outstanding</th><th scope="col text-center" class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 24px;"><i class="feather icon-settings"></i></th></tr>
                                    <tr role="row" class="filter">
                                        <td colspan="2" rowspan="1">
                                            <input type="text" class=" form-filter input-sm" name="customerName" id="customerName" placeholder="Name"> </td><td rowspan="1" colspan="1">
                                            <input type="text" class=" form-filter input-sm" placeholder="UserID" name="customerUser" id="customerUser"> </td><td rowspan="1" colspan="1">
                                            <input type="text" class=" form-filter input-sm" placeholder="Mobile" name="customerMobile" id="customerMobile"> </td><td rowspan="1" colspan="1">
                                            <select class="" name="zoneId" id="zoneId">
                                                <option value=""> -Zone- </option>
                                                <option value="1">Motihar</option>
                                                <option value="2">New Market</option>
                                                <option value="3">Sha Magdum</option>
                                                <option value="6">Bazar</option>
                                                <option value="7">Sadhur Mor</option>
                                                <option value="8">Vodra</option>
                                                <option value="9">Talaimari</option>
                                                <option value="10">Beldarpara</option>
                                                <option value="11">Baliapukur</option>
                                                <option value="12">Laxmipur</option>
                                            </select>
                                        </td><td rowspan="1" colspan="1">
                                            <select class="" name="package_id" id="package_id" aria-describedby="validationTooltipPackagePrepend" required="">
                                                <option value=""> -Package- </option>
                                                <option value="1">Basic</option>
                                                <option value="2">Starter</option>
                                                <option value="3">Standard</option>
                                                <option value="4">Ultra-1</option>
                                                <option value="5">Ultra2</option>
                                                <option value="6">Ultra-4</option>
                                                <option value="7">Ultra-5</option>
                                                <option value="8">Premium</option>
                                                <option value="9">Ultimate</option>
                                            </select>
                                        </td><td rowspan="1" colspan="1">
                                            <select class="" name="bandWidth" id="bandWidth">
                                                <option value=""> -Type - </option>
                                                <option value="18">512 KB</option>
                                                <option value="19">1.0 Mbps</option>
                                                <option value="20">1.5 Mbps</option>
                                                <option value="21">2.0 Mbps</option>
                                                <option value="22">2.5 Mbps</option>
                                                <option value="23">3.0 Mbps</option>
                                                <option value="24">4.0 Mbps</option>
                                                <option value="25">4.5 Mbps</option>
                                                <option value="26">5.0 Mbps</option>
                                                <option value="27">6.0 Mbps</option>
                                                <option value="28">8.0 Mbps</option>
                                                <option value="29">10.0 Mbps</option>
                                                <option value="30">12.0 Mbps</option>
                                                <option value="31">13.0 Mbps</option>
                                                <option value="32">14.0 Mbps</option>
                                                <option value="33">15.0 Mbps</option>
                                                <option value="34">8.5 Mbps</option>
                                                <option value="35">Shared</option>
                                            </select>
                                        </td><td rowspan="1" colspan="1">
                                            <select class="" name="connectionMode" id="connectionMode">
                                                <option value=""> -Mode - </option>
                                                <option value="1">Clinic</option>
                                                <option value="2">Coaching</option>
                                                <option value="3">Curiar</option>
                                                <option value="4">Factory</option>
                                                <option value="5">Home</option>
                                                <option value="6">Hostel</option>
                                                <option value="7">Hotel</option>
                                                <option value="8">Jim</option>
                                                <option value="9">Madrasha</option>
                                                <option value="10">Mess</option>
                                                <option value="11">Nanking</option>
                                                <option value="12">Office</option>
                                                <option value="13">Rest House</option>
                                                <option value="14">Resturent</option>
                                                <option value="15">School</option>
                                                <option value="16">Shop</option>
                                                <option value="17">Word17</option>
                                            </select>
                                        </td><td rowspan="1" colspan="1">
                                            <select class="" name="assignBandWidth" id="assignBandWidth">
                                                <option value=""> -Band Width - </option>
                                                <option value="36">Dedicated BW</option>
                                                <option value="37">Dedicated BW+IP</option>
                                                <option value="38">Shared BW</option>
                                            </select>
                                        </td><td rowspan="1" colspan="1">
                                            <select class="" name="connectionStatus" id="connectionStatus">
                                                <option value="">-Status-</option>
                                                <option value="39">Active</option>
                                                <option value="40">In-active</option>
                                                <option value="41">Hold</option>
                                                <option value="42">Created</option>
                                            </select>
                                        </td><td colspan="4" rowspan="1"></td></tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" class="odd"><td>1</td><td class="sorting_1"> Tazbi (SM)</td><td>smtazbi</td><td>01728091199</td><td>Vodra</td><td>Basic</td><td>2.5 Mbps</td><td>Mess</td><td>Shared BW</td><td>Active</td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/1"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/1"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/1"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/1"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="even"><td>2</td><td class="sorting_1">A&amp;B</td><td>ba&amp;b</td><td>01784500890</td><td>Bazar</td><td>Basic</td><td>4.0 Mbps</td><td>Shop</td><td>Shared BW</td><td>Active</td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/2"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/2"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/2"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/2"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="odd"><td>3</td><td class="sorting_1">Aarish (Ali Ahsan)</td><td>vhaarish</td><td>01712754048</td><td>Vodra</td><td>Basic</td><td>1.0 Mbps</td><td>Home</td><td>Shared BW</td><td>Active</td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/3"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/3"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/3"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/3"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="even"><td>4</td><td class="sorting_1">AB Siddik</td><td>drabsiddik</td><td>01712686638</td><td>Laxmipur</td><td>Basic</td><td>15.0 Mbps</td><td>Home</td><td>Shared BW</td><td></td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/4"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/4"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/4"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/4"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="odd"><td>5</td><td class="sorting_1">Abdullah </td><td>vhabdullah</td><td>01711477345</td><td>Vodra</td><td>Basic</td><td>1.0 Mbps</td><td>Home</td><td>Shared BW</td><td></td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/5"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/5"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/5"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/5"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="even"><td>6</td><td class="sorting_1">Abdullah </td><td>mabdullah</td><td>01558483888</td><td>Sadhur Mor</td><td>Basic</td><td>1.5 Mbps</td><td>Home</td><td>Shared BW</td><td>Active</td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/6"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/6"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/6"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/6"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="odd"><td>7</td><td class="sorting_1">Abdullah (M)</td><td>bmabdullah</td><td>01750229760</td><td>Bazar</td><td>Basic</td><td>1.0 Mbps</td><td>Mess</td><td>Shared BW</td><td>Active</td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/7"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/7"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/7"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/7"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="even"><td>8</td><td class="sorting_1">Abir</td><td>babir</td><td>01766886681</td><td>Bazar</td><td>Basic</td><td>2.5 Mbps</td><td>Home</td><td>Shared BW</td><td>Active</td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/8"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/8"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/8"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/8"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="odd"><td>9</td><td class="sorting_1">Abir</td><td>tabir</td><td>01763925051</td><td>Talaimari</td><td>Basic</td><td>1.5 Mbps</td><td>Mess</td><td>Shared BW</td><td></td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/9"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/9"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/9"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/9"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="even"><td>10</td><td class="sorting_1">Abir</td><td>habir</td><td>01913423734</td><td>Talaimari</td><td>Basic</td><td>2.5 Mbps</td><td>Home</td><td>Shared BW</td><td></td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/10"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/10"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/10"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/10"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="odd"><td>11</td><td class="sorting_1">Abrar</td><td>sabrar</td><td>01719831866</td><td>Sadhur Mor</td><td>Basic</td><td>4.0 Mbps</td><td>Home</td><td>Shared BW</td><td></td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/11"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/11"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/11"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/11"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="even"><td>12</td><td class="sorting_1">ACD</td><td>bsacd</td><td>01714785674</td><td>Bazar</td><td>Basic</td><td>5.0 Mbps</td><td>Office</td><td>Shared BW</td><td>Active</td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/12"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/12"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/12"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/12"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="odd"><td>13</td><td class="sorting_1">Acland</td><td>bacland</td><td>01709989529</td><td>Bazar</td><td>Basic</td><td>4.0 Mbps</td><td>Office</td><td>Shared BW</td><td>Active</td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/13"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/13"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/13"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/13"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="even"><td>14</td><td class="sorting_1">Aditya</td><td>vhaditya</td><td>01304196417</td><td>Vodra</td><td>Basic</td><td>1.0 Mbps</td><td>Hostel</td><td>Shared BW</td><td></td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/14"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/14"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/14"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/14"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="odd"><td>15</td><td class="sorting_1">Adnan</td><td>bladnan</td><td>01986141665</td><td>Baliapukur</td><td>Basic</td><td>3.0 Mbps</td><td>Home</td><td>Shared BW</td><td></td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/15"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/15"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/15"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/15"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="even"><td>16</td><td class="sorting_1">advance Showroom</td><td>rbadvancee</td><td>01821248969</td><td>New Market</td><td>Basic</td><td>2.5 Mbps</td><td>Shop</td><td>Shared BW</td><td>Active</td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/16"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/16"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/16"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/16"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="odd"><td>17</td><td class="sorting_1">Afrida</td><td>vhafrida</td><td>01777734911</td><td>Vodra</td><td>Basic</td><td>1.5 Mbps</td><td>Home</td><td>Shared BW</td><td></td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/17"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/17"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/17"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/17"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="even"><td>18</td><td class="sorting_1">Afridi</td><td>bafridi</td><td>01732261654</td><td>Bazar</td><td>Basic</td><td>1.5 Mbps</td><td>Home</td><td>Shared BW</td><td>Active</td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/18"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/18"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/18"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/18"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="odd"><td>19</td><td class="sorting_1">Afsana</td><td>bafana</td><td>01711282834</td><td>Bazar</td><td>Basic</td><td>1.0 Mbps</td><td>Home</td><td>Shared BW</td><td></td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/19"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/19"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/19"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/19"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr><tr role="row" class="even"><td>20</td><td class="sorting_1">Afsana</td><td>vhafsana</td><td>01759792440</td><td>Vodra</td><td>Basic</td><td>2.5 Mbps</td><td>Home</td><td>Shared BW</td><td></td><td>01-01-1970</td><td>0</td><td><div class="btn-group card-option"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button><ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <li class="dropdown-item"> <a href="/customer/show/20"><i class="feather icon-eye"></i> View</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/edit/20"> <i class="feather icon-edit"></i> Edit</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/destroy/20"> <i class="feather icon-trash-2"></i> Remove</a></li>
                                                    <li class="dropdown-item"> <a href="/customer/ledger/20"> <i class="feather icon-currency"></i> Ledger</a></li>
                                                </ul></div></td></tr></tbody>
                                </table><div id="datatable_ajax_processing" class="dataTables_processing card" style="display: none;">Processing...</div></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="datatable_ajax_info" role="status" aria-live="polite">Showing 1 to 20 of 1,053 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="datatable_ajax_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="datatable_ajax_previous"><a href="#" aria-controls="datatable_ajax" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="datatable_ajax" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="datatable_ajax" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="datatable_ajax" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="datatable_ajax" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="datatable_ajax" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item disabled" id="datatable_ajax_ellipsis"><a href="#" aria-controls="datatable_ajax" data-dt-idx="6" tabindex="0" class="page-link">…</a></li><li class="paginate_button page-item "><a href="#" aria-controls="datatable_ajax" data-dt-idx="7" tabindex="0" class="page-link">53</a></li><li class="paginate_button page-item next" id="datatable_ajax_next"><a href="#" aria-controls="datatable_ajax" data-dt-idx="8" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>Add Items</h5>
                    <div class="card-header-right">
                        <div style="margin-top: 7px" class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a class="btn btn-sm  green-bg white-font" href="#" data-placement="top" data-toggle="tooltip" title="" data-original-title="In the following section, I will show you various examples of creating tooltips. These include simple with default direction, in all directions, tooltips with HTML content, customizing the appearance of tooltip and more."><i class="fas fa-question-circle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <table class="table table-responsive-md table-sm table-bordered" id="makeEditable">
                        <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Default</td>
                            <td>Defaultson</td>
                            <td>def@somemail.com</td>
                        </tr>
                        <tr class="success">
                            <td>Success</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr class="danger">
                            <td>Danger</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr class="info">
                            <td>Info</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                        <tr class="warning">
                            <td>Warning</td>
                            <td>Refs</td>
                            <td>bo@example.com</td>
                        </tr>
                        <tr class="active">
                            <td>Active</td>
                            <td>Activeson</td>
                            <td>act@example.com</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card-footer">

                        <div class="card-footer-right">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                <button type="reset" class="btn btn-sm gray-bg white-font"><i class="fa fa-recycle"></i>Reset</button>
                                <button id="but_add"  class="btn btn-sm  green-bg white-font"><i class="fas fa-sign-out-alt"></i>Add New Item</button>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
