{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/jquery-ui-1.12.1/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/DataTables/datatables.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2-bootstrap/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2-bootstrap/css/select2-bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/editor/css/jquery.wysiwygEditor.css') }}" >
    <link rel="stylesheet" href="{{ asset('assets/plugins/remodal/dist/remodal.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/plugins/remodal/dist/remodal-default-theme.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/plugins/gasparesganga/jquery-message-box/dist/messagebox.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap4-toggle/css/bootstrap4-toggle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/spin/examples/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/navbar/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/sweet-modal/dist/jquery.sweet-modal.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/jQuery-datepicker/jquery-ui-timepicker-addon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/horizontalMenu.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/sweetalert2/sweetalert2.min.css') }}">

    <style>
        li.select2-results__option {
            color: #555;
        }
        .select2-results__group {
            color: #343a40;
            font-weight: bold;
            background: #c7c9cb;
        }
        table.dataTable tr.disabled {
            background-color: gray !important;
        }
        table.dataTable tr.disabled td, table.dataTable tr.disabled td a {
            color: #FFFFFF !important;
        }
    </style>

    {% block cssBlock %} {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/select2-4.0.11/dist/js/select2.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap4-toggle/js/bootstrap4-toggle.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/cookies/jquery-cookie.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-validation/dist/jquery.validate.js') }}"></script>
    <script src="{{ asset('assets/plugins/icon-feather/feather.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/DataTables/datatables.js') }}"></script>
    <script src="{{ asset('assets/plugins/editor/js/jquery.wysiwygEditor.js') }}"></script>
    <script src="{{ asset('assets/plugins/remodal/dist/remodal.js') }}"></script>
    <script src="{{ asset('assets/plugins/multi-select/js/jquery.multi-select.js') }}"></script>
    <script src="{{ asset('assets/plugins/number/mask/dist/jquery.mask.js') }}"></script>
    <script src="{{ asset('assets/plugins/gasparesganga/jquery-message-box/dist/messagebox.js') }}"></script>
    <script src="{{ asset('assets/plugins/sweet-modal/dist/jquery.sweet-modal.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/editing-bootstable/js/bootstable.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/build/js/moment.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/build/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jQuery-datepicker/jquery-ui-timepicker-addon.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jQuery-datepicker/i18n/jquery-ui-timepicker-addon-i18n.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jQuery-datepicker/jquery-ui-sliderAccess.js') }}"></script>
    <script src="{{ asset('assets/js/horizontalMenu.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('assets/plugins/sweetalert2/sweetalert2.all.min.js') }}"></script>

    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% block javascriptBlock %}

            {% endblock %}
        });
    </script>
    <script>
        $(function () {

            $(window).on('load', function() { // makes sure the whole site is loaded
                $('#status').fadeOut(); // will first fade out the loading animation
                $('#preloader').delay(0).fadeOut('fast'); // will fade out the white DIV that covers the website.
                $('body').delay(1).css({'overflow':'visible'});
            });

            $('.dropdown-menu a.dropdown-toggle').on('mouseover', function(e) {
                if (!$(this).next().hasClass('show')) {
                    $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
                }
                var $subMenu = $(this).next('.dropdown-menu');
                $subMenu.toggleClass('show');


                $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                    $('.dropdown-submenu .show').removeClass('show');
                });
                return false;
            });


            $('.datetimepicker-input').datetimepicker();

            $('.select2').select2({
                theme: 'bootstrap4'
            });
            $(".form-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            //
            $('[data-toggle="tooltip"]').tooltip();

            //Modal

            $('#exampleModal').on('hide.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('New message to ' + recipient)
                modal.find('.modal-body input').val(recipient)
                modal.find('.modal-body textarea').val('')
            })

            $("#horizontalMenu").horizontalResponsiveMenu({
                resizeWidth: '768', // Set the same in Media query
                animationSpeed: 'fast', //slow, medium, fast
                accoridonExpAll: false //Expands all the accordion menu on click
            });



        });

    </script>
{% endblock %}



