{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover download-excel">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Employee ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Email</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Line Manager ID</th>
                                <th scope="col">Line Manager</th>
                                <th scope="col">Report Mode</th>
                                <th scope="col">Service Mode</th>
                                <th scope="col">Responsible of</th>
                                <th scope="col">Joining Date</th>
                                <th scope="col">Type of Vehicle</th>
                                <th scope="col">Vehicle No</th>
                                {#        <th scope="col">Zonal Area</th>#}
                                {#        <th scope="col">Regional Area</th>#}
                                <th scope="col">Districts</th>
                                <th scope="col">Upozila</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entities is defined and entities is not empty %}
                                {% for entity in entities %}
                                    <tr>
                                        <td align="center">{{ loop.index }}</td>
                                        <td>{{ entity.userId|default('') }}</td>
                                        <td>{{ entity.employeeName|default('') }}</td>
                                        <td>{{ entity.mobile|default('') }}</td>
                                        <td>{{ entity.email|default('') }}</td>
                                        <td>{{ entity.designationName|default('') }}</td>
                                        <td>{{ entity.lineManagerUserId|default('') }}</td>
                                        <td>{{ entity.lineManagerName|default('') }}</td>
                                        <td>{{ entity.reportModeName|default('') }}</td>
                                        <td>{{ entity.serviceModeName|default('') }}</td>
                                        <td>{{ entity.responsibleOfName|default('') }}</td>
                                        <td>{{ entity.joiningDate ? entity.joiningDate|date('d-m-Y') : '' }}</td>
                                        <td>{{ entity.typeOfVehicle|default('') }}</td>
                                        <td>{{ entity.vehicleNo|default('') }}</td>
                                        {#                <td>{{ entity.zonalName|default('') }}</td>#}
                                        {#                <td>{{ entity.regionalName|default('') }}</td>#}
                                        <td>
                                            {% if entity.district is not empty %}
                                                {% for dist in entity.district|json_decode %}
                                                    {{ dist }}{% if not loop.last %}{{ ',' }}{% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if entity.upozilaName is not empty %}
                                                {% for upozila in entity.upozilaName %}
                                                    {{ upozila|capitalize }}{% if not loop.last %}{{ ',' }}{% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>{{ entity.enabled == 1 ? "Enabled":"Disabled" }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="11" align="center">{{ 'No record has been found!'|trans }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>

    <script>
        // let button = document.querySelector("#button-excel");

        window.addEventListener("load", e => {
            e.preventDefault();
            let table = document.querySelector(".download-excel");
            TableToExcel.convert(table, {
                name: "employee.xlsx",
                sheet: {
                    name: "Sheet 1"
                }
            });
            // window.close();
        });
    </script>
{% endblock %}