
{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">  {{ 'My Profile'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ user.name }}</h5>
                </div>
                <div class="card-block">
                    <table class="employee-info table">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td class="control-label"><b>Name:</b></td>
                            <td class="control-label">{{ user.name|default('-') }}</td>
                            <td><b>KPI Format: </b></td>
                            <td>{{ user.reportMode.name|default('-') }}</td>
                        </tr>
                        <tr>
                            <td><b>ID: </b></td>
                            <td>{{ user.userId }}</td>
                            <td><b>Designation: </b></td>
                            <td>{{ user.designation.name|default('-') }}</td>
                        </tr>

                        <tr>
                            <td><b>Mobile: </b></td>
                            <td>{{ user.mobile|default('-') }}</td>
                            <td><b>Address: </b></td>
                            <td>{{ user.address|default('-') }}</td>
                        </tr>
                        <tr>
                            <td><b>Email: </b></td>
                            <td>{{ user.email|default('-') }}</td>
                            <td><b>Line Manager: </b></td>
                            <td>
                                {% if user.lineManager is defined and user.lineManager is not empty %}
                                    {{ '(' ~ user.lineManager.userId ~') '~ user.lineManager.name }}

                                {% else %}
                                    -
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <td><b>Service Mode: </b></td>
                            <td>{{ user.serviceMode.name|default('-') }}</td>
                            <td><b>Permanent Date: </b></td>
                            <td>{{ user.permanentDate|date('d-m-Y')|default('-') }}</td>
                        </tr>
                        <tr>
                            <td><b>Joining Date: </b></td>
                            <td>{{ user.joiningDate ? user.joiningDate|date('d-m-Y') : '-' }}</td>
                            <td><b>Job Status: </b></td>
                            <td>
                                {% if user.isPermanent %}
                                    <span class="btn btn-mini blue-bg white-font">Permanent</span>
                                {% else %}
                                    <span class="btn btn-mini yellow-bg white-font">Temporary</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Upozila: </b></td>
                            <td colspan="3">
                                {% for upozila in user.upozila %}
                                    {{ upozila.name }}{% if not loop.last %},{% endif %}
                                    {% else %}
                                    -
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>District: </b></td>
                            <td colspan="3">
                                {% for district in user.district %}
                                    {{ district.name }}{% if not loop.last %},{% endif %}
                                {% else %}
                                    -
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <h4 class="text-center bg-secondary w-100 p-1">{{ 'District History'|trans }}</h4>
                        <div class="col-md-12" style="max-height: 250px; overflow-y: auto">
                            <table class="table table-bordered table-striped table-hover district-history" id="datatable">
                                <thead class="thead-dark">
                                <tr>
                                    <th>{{ 'Year'|trans }}</th>
                                    <th>{{ 'Month'|trans }}</th>
                                    <th class="text-center">{{ 'Districts'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if districtHistory is defined and districtHistory is not empty %}
                                    {% for year, data in districtHistory %}
                                        {% for month, history in data %}
                                            <tr>
                                                {% if loop.first %}
                                                    <td rowspan="{{ data|length }}" align="center">{{ year }}</td>
                                                {% endif %}
                                                <td>{{ (month|split('-'))[1] }}</td>
                                                <td>{{ history.district }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
            /*    table.employee-info tr td:first-child{
                    width: 15%;
                }*/
        table.employee-info tr td{
            border: 0 !important;
        }
        table.district-history thead {
            position: sticky;
            top: -1px;
            background-color: #dbdee3 !important;
            border-bottom-color: #4C9EE7!important;
        }
        table.employee-info tr td:nth-child(odd){
            width: 10%;
        }
        table.employee-info tr td:nth-child(even){
            width: 35%;
        }
    </style>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}
{% block documentready %}
    {{ parent() }}

{% endblock %}
