<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KPI Employee Hierarchy</title>
</head>
<body>
<div class="row">
    <h2 style="text-align: center">KPI Employee Hierarchy</h2>
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover" style="margin-bottom: 0" width="100%" border="1" cellpadding="0" cellspacing="0">
            <thead class="thead-dark">
            <tr>
                <th scope="col" width="3%">S/L</th>
                <th scope="col" width="27%"></th>
                <th scope="col" width="28%"></th>
                <th scope="col" width="28%"></th>
                <th scope="col" width="15%">Format</th>
            </tr>
            </thead>
        </table>
        <table class="table table-striped table-bordered table-hover" width="100%" cellspacing="0" cellpadding="5" border="1">
            <tbody>
            {% if data is defined and data['agm-format'] is not empty and data['agm-format'] is iterable %}
                {% for agm in data['agm-format'] %}
                    <tr>
                        <td width="3%">{{ loop.index }}</td>
                        <td width="27%">{{ agm.employeeName|default('') }} ({{ agm.reportModeName|default('') }})</td>
                        <td style="padding: 0px !important;">
                            <table class="table table-striped table-bordered table-hover" style="margin-bottom: 0;" width="100%" cellspacing="0" cellpadding="0" border="1">
                                <tbody>
                                {% if agm['rsm-format'] is defined and agm['rsm-format'] is not empty and agm['rsm-format'] is iterable %}
                                    {% for rsm in agm['rsm-format'] %}
                                        <tr>
                                            <td width="40%" style="padding-left: 5px">{{ loop.index }}. {{ rsm.employeeName|default('') }} ({{ rsm.reportModeName|default('') }})</td>
                                            <td style="padding: 0px !important;">
                                                <table class="table table-striped table-bordered table-hover" style="margin-bottom: 0;" width="100%" cellspacing="0" cellpadding="0" border="1">
                                                    <tbody>
                                                    {% if rsm['employee'] is defined and rsm['employee'] is not empty and rsm['employee'] is iterable %}
                                                        {% for employee in rsm['employee'] %}
                                                            <tr>
                                                                <td width="67%" style="padding-left: 5px">{{ loop.index }}
                                                                    . {{ employee.employeeName|default('') }}</td>
                                                                <td style="padding-left: 5px">{{ employee.reportModeName|default('') }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" align="center">{{ 'No record has been found!'|trans }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>