{% extends 'admin/layout.html.twig' %}
{#{% block body_id 'kpi_domain_new' %}#}
{% block body %}

    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('employee_index') }}">  {{ 'Employee'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Expense Chart Mapping'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('employee_index') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Employee'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Expense Mapping'|trans }} </div>
                    </div>

                    <div class="portlet-body form expense_form_section" id="expense_form_section">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>({{ employee.userId }}) {{ employee.name }}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>Designation: {{ employee.designation.name|default('') }}</h4>
                            </div>
                        </div>
                        {{ form_start(form, {'attr': {'action': path('employee_expense_chart_edit', {'employee': employee.id, 'expenseChart': expenseChart.id}), 'id':'expense_form','method':'post','class': 'form-horizontal right','enctype':'multipart/form-data'}}) }}


                        <div class="row expense_form_body">

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.typeOfVehicle, 'Vehicle Type'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.typeOfVehicle) }}
                                                {{ form_errors(form.typeOfVehicle) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.perKmRate, 'Per KM Rate'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.perKmRate) }}
                                                {{ form_errors(form.perKmRate) }}
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            

                            <div class="col-md-12">
                                <div class="form-inner-no-space">
                                    <div class="card-body-inner">
                                        <div class="row">
                                            {% if fixedDailyExpenseParticulars is defined and fixedDailyExpenseParticulars is not empty %}
                                                <div class="col-md-6">
                                                    <h5>Fixed Daily Expense</h5>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th style="width: 35%">Particular Name</th>
                                                            <th style="width: 35%">Area</th>
                                                            <th style="width: 20%">Amount (TK)</th>
                                                            <td>Action</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <select class="form-control" name="particular_id" id="particular_id">
                                                                    <option value="">Select Particular</option>
                                                                    {% for particular in fixedDailyExpenseParticulars %}
                                                                        <option value="{{ particular.id }}">{{ particular.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" name="area_id" id="area_id">
                                                                    <option value="">Select Area</option>
                                                                    {% for area in areas %}
                                                                        <option value="{{ area.id }}">{{ area.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input class="form-control" type="number" min="0" step="any" name="amount" id="amount">
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-success add_daily_expense" id="add_daily_expense">Add</button>
                                                            </td>
                                                        </tr>

                                                        </thead>
                                                        <tbody class="fixedDailyExpenseParticular">
                                                            {% include('employee/fixedExpenseTbody.html.twig') %}
                                                        </tbody>
                                                    </table>
                                                </div>

                                            {% endif %}

                                            {#{% if expenseChartDetails['MONTHLY'] is defined and expenseChartDetails['MONTHLY'] is not empty %}
                                                <div class="col-md-6">
                                                    <h5>Monthly Expense</h5>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th style="width: 35%">Particular Name</th>
                                                            <th style="width: 30%">Payment Type</th>
                                                            <th style="width: 20%">Amount (TK)</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for expChartDetail in expenseChartDetails['MONTHLY'] %}
                                                            <tr>
                                                                <td>
                                                                    {{ expChartDetail.particular.name|default('') }}
                                                                </td>
                                                                <td>
                                                                    {{ expChartDetail.particular.expensePaymentType|default('') }}
                                                                </td>
                                                                <td>
                                                                    <input class="form-control" type="number" min="0" step="any" name="amount[{{ expChartDetail.id }}]" value="{{ expChartDetail.amount >0 ?  expChartDetail.amount:'' }}">
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>

                                            {% endif %}#}

                                        </div>

                                    </div>

                                    <div class="form-actions">
                                        <div class="col-md-6 ">

                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                {{ form_widget(form.SaveAndCreate, {type: 'submit',label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit expense_form_button'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>

                <style>
                    #expense_form_vehicle .checkbox{
                        width: unset;
                        padding-right: 30px;
                    }
                </style>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style type="text/css">
         .hidden{
             display: none!important;
         }
     </style>
 {% endblock  %}

{% block footerscript %}
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.add_daily_expense').on('click', function () {
            var particular_id = $('#particular_id').val();
            var area_id = $('#area_id').val();
            var amount = $('#amount').val();
            if(particular_id == ''){
                alert('Please select particular');
                return false;
            }
            if(area_id == ''){
                alert('Please select area');
                return false;
            }
            if(amount == ''){
                alert('Please enter amount');
                return false;
            }
            var url = "{{ path('employee_expense_chart_detail_add', {'expenseChart': expenseChart.id}) }}";
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    particular_id: particular_id,
                    area_id: area_id,
                    amount: amount
                },
                success: function (response) {

                    if(response.status == '200'){
                        $('.fixedDailyExpenseParticular').html(response.html);

                        Swal.fire({
                            title: response.message,
                            text: "",
                            type: 'success',
                        });
                    }else{
                        Swal.fire({
                            title: response.message,
                            text: "",
                            type: 'error',
                        });

                    }
                }
            });
        });

        $('.fixedDailyExpenseParticular').on('click', '.remove-details-record', function (){
            var thisElement = $(this);
            var expenseChartDetailId = $(this).data('entity-id');
            if(expenseChartDetailId!==""){

                var url = "{{ path('employee_expense_chart_detail_remove') }}";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        expenseChartDetailId : expenseChartDetailId
                    },
                    success: function (response) {
                        if(response.status === 200){
                           $(thisElement).closest('tr').remove();

                            Swal.fire({
                                title: response.message,
                                text: "",
                                type: 'success',
                            });
                        }else{
                            Swal.fire({
                                title: response.message,
                                text: "",
                                type: 'error',
                            });

                        }
                    }
                });
            }



        })
    });

</script>
{% endblock %}