{% if expenseChartDetails['DAILY'] is defined and expenseChartDetails['DAILY'] is not empty %}
    {% for expChartDetail in expenseChartDetails['DAILY'] %}
        {% if expChartDetail.particular.expensePaymentType is defined and expChartDetail.particular.expensePaymentType=='FIXED' %}
        <tr>
            <td>
                {{ expChartDetail.particular.name|default('') }}
            </td>
            <td>
                {{ expChartDetail.area.name|default('') }}
            </td>
            <td>
                <input class="form-control" type="number" min="0" step="any" name="amount[{{ expChartDetail.id }}]" value="{{ expChartDetail.amount >0 ?  expChartDetail.amount:'' }}">
            </td>
            <td style="text-align: center">
                <button data-entity-id="{{ expChartDetail.id }}" type="button" class="btn btn-danger btn-sm remove-details-record">X</button>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
{% endif %}
