{% extends 'admin/layout.html.twig' %}
{% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ "New Employee"|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'New Employee'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">

                            <a href="{{ path('employee_register') }}" id="createForm"  class="btn btn-sm  green-bg white-font"><i class="feather icon-user-plus"></i>{{ 'New Employee'|trans }}</a>
                            <a href="{{ path('employee_index') }}" class="btn btn-sm gray-bg white-font"><i class="feather icon-users"></i>{{ 'Employee'|trans }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'New Employee'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form action="{{ path('employee_register') }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm">
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                    <div class="row">
                                        <div class="col-md-6">
{#                                            <div class="form-group">
                                                {{ form_label(form.userGroup, 'User Group'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.userGroup) }}
                                                    {{ form_errors(form.userGroup) }}
                                                </div>
                                            </div>#}
                                            <div class="form-group">
                                                {{ form_label(form.name, 'Full Name', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.name) }}
                                                    {{ form_errors(form.name) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.mobile, 'label.mobile', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.mobile) }}
                                                    {{ form_errors(form.mobile) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.email, 'label.email', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.email, {'attr': {'class': 'form-control input-lg'}}) }}
                                                    {{ form_errors(form.email) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
{#                                            <div class="form-group">
                                                {{ form_label(form.username, 'label.username', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.username) }}
                                                    {{ form_errors(form.username) }}
                                                </div>
                                            </div>#}
                                            {#<div class="form-group">
                                                {{ form_label(form.userMode, 'User Mode', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.userMode) }}
                                                    {{ form_errors(form.userMode) }}
                                                </div>
                                            </div>#}
                                            <div class="form-group">
                                                {{ form_label(form.password.first, 'label.password', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control input-lg'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.password.second, 'label.new_password_confirm', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control input-lg'}}) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="{{ form.roles.vars.id }}" class="control-label col-md-2">
                                                    Web Access Roles:
                                                </label>
                                                <div class="col-md-10">
                                                    <div class="input-icon right">
                                                        <div class="controls">
                                                            {{ form_errors(form.roles) }}
                                                            {{ form_widget(form.roles, {'attr': {'class': 'form-control multi-select2 span6 m-wrap'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Employee Working Area</h5>
                                    </div>
                                    <div class="card-body card-body-inner">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.regional, 'Regional Area'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.regional) }}
                                                        {{ form_errors(form.regional) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.zonal, 'Zonal Area', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.zonal) }}
                                                        {{ form_errors(form.zonal) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.lineManager, 'Line Manager'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> *</span>
                                                        {{ form_widget(form.lineManager) }}
                                                        {{ form_errors(form.lineManager) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.reportMode, 'Report Mode'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> *</span>
                                                        {{ form_widget(form.reportMode) }}
                                                        {{ form_errors(form.reportMode) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {#<div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.area, 'Working Area'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.area) }}
                                                        {{ form_errors(form.area) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.regional, 'Regional Area'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.regional) }}
                                                        {{ form_errors(form.regional) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.zonal, 'Zonal Area', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.zonal) }}
                                                        {{ form_errors(form.zonal) }}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>#}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="{{ form.district.vars.id }}" class="control-label col-md-2"> Select District </label>

                                                    <div class="col-md-10">
                                                        <span class="not-blank"> *</span>

                                                        <div class="input-icon right">
                                                            <div class="controls">
                                                                {{ form_errors(form.district) }}
                                                                {{ form_widget(form.district, {'attr': {'class': 'form-control span6 m-wrap'}}) }}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2"> Select Upozila </label>

                                                    <div class="col-md-10">
                                                        <span class="not-blank"> *</span>
                                                        <div class="input-icon right">
                                                            <div class="controls">
                                                                {{ form_errors(form.upozila) }}
                                                                {{ form_widget(form.upozila, {'attr': {'class': 'form-control span6 m-wrap'}}) }}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2"> Select Lab </label>
                                                    <div class="col-md-10">
                                                        <div class="input-icon right">
                                                            <div class="controls">
                                                                {% if labs is not empty %}
                                                                    <select class="form-control span6 m-wrap" name="labs[]" id="labs" multiple>
                                                                        {% for lab in labs %}
                                                                            <option value="{{ lab.id }}">{{ lab.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="clearfix"></div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Employee Information</h5>
                                    </div>
                                    <div class="card-body card-body-inner">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.userId, 'Employee ID'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            <span class="not-blank"> *</span>
                                                            {{ form_widget(form.userId) }}
                                                            {{ form_errors(form.userId) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.serviceMode, 'Service Mode', {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            <span class="not-blank"> *</span>
                                                            {{ form_widget(form.serviceMode) }}
                                                            {{ form_errors(form.serviceMode) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.responsibleOf, 'Responsible Of', {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            <span class="not-blank"> *</span>
                                                            {{ form_widget(form.responsibleOf) }}
                                                            {{ form_errors(form.responsibleOf) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.joiningDate, 'Joining Date', {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            <span class="not-blank"> *</span>
                                                            {{ form_widget(form.joiningDate) }}
                                                            {{ form_errors(form.joiningDate) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    {{ form_label(form.designation, 'Designation', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> *</span>
                                                        {{ form_widget(form.designation) }}
                                                        {{ form_errors(form.designation) }}
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.permanentDate, 'label.permanent_date', {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.permanentDate) }}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.typeOfVehicle, 'Type of Vehicle', {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            <span class="not-blank"> *</span>
                                                            {{ form_widget(form.typeOfVehicle) }}
                                                            {{ form_errors(form.typeOfVehicle) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        {{ form_label(form.vehicleNo, 'Vehicle No', {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.vehicleNo) }}
                                                            {{ form_errors(form.vehicleNo) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 ">

                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group">
                                                <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            {{ form_widget(form._token) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/jquery.quicksearch.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/core/js/user.js') }}"></script>
    <script>
        $('.datePicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            yearRange: "1971:" + new Date().getFullYear(),
            showOn: "both",
            showButtonPanel: true,
            buttonImage: "/assets/images/icon-calendar-green.png",
            buttonImageOnly: true
        });
    </script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{#    <script>#}
        formSubmitProcess();

        $('#employee_form_district, #employee_form_upozila, #labs').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='Search...'>",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='Search...'>",
            afterInit: function(ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function(e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function(e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function() {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function() {
                this.qs1.cache();
                this.qs2.cache();
            },
            selectableOptgroup: true
        });

{% endblock %}



