<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}NOURISH-ERP{% endblock %}</title>
    {% block stylesheets %}
        <!-- fontawesome icon -->
        <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/css/fontawesome-all.min.css') }}">
        <!-- animation css -->
        <link rel="stylesheet" href="{{ asset('assets/plugins/animation/css/animate.min.css') }}">
        <!-- vendor css -->
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}"/>
</head>
<body id="{% block body_id %}{% endblock %}">
{% block header %}
    {{ include('base/nav.html.twig') }}
{% endblock %}
<div id="pageloader" style="display: none">
    <img src="{{ asset('/assets/images/loader-hen.gif') }}" alt="processing..."/>
    <p>Please Wait...</p>
</div>
<div class="main-container" style="min-height: 96vh">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            {{ include('default/_flash_messages.html.twig') }}
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">

                        {% block main %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% block footer %}
{#    <footer class="footer text-center">
        <div style="height: 44px;">
            Right Brain Solution Ltd. <a href="http://www.rightbrainsolution.com">www.rightbrainsolution.com</a>
        </div>
    </footer>#}

    <footer class="footer text-center hidden-print" style="display: flex; justify-content: center">
        <div style="background-color: #3699ff; color: #ffffff; display: inline-block; padding: 0px 14px 0px;">Right Brain Solution Ltd.</div>
        <div style="background-color: #343a40; padding: 0px 14px 0px;">
             <a style="color: #ffffff !important;" href="http://www.rightbrainsolution.com">www.rightbrainsolution.com</a>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor-all.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>


    {{ encore_entry_script_tags('app') }}
{% endblock %}
<!-- Page rendered on {{ 'now'|format_datetime('full', 'full', locale='en') }} -->
<script>$.uiBackCompat = false;</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% block documentready %}
        {% endblock %}
    });

</script>
{% block footerscript %}

{% endblock %}
<script>
    $('.loader').on('click', function (e) {
        $("#pageloader").fadeIn();
    })
</script>
<div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div id="modal-container">
        <div class="loader04"></div>
    </div>
</div>
<style>
    .main-container {
        padding-top: 56px;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-item {
        font-size: 12px;
    }

    .dropdown-submenu > a:after {
        content: "\f0da";
        float: right;
        border: none;
        font-family: 'FontAwesome';
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }

    .help-block ul.list-unstyled li {
        color: red;
    }

    .dropdown-info {
        margin-top: 1px !important;
    }

    .remodal {
        padding: 10px 5px;
    }

    .remodal-close {
        top: -10px;
        right: 0px;
    }

    .tooltip {
        z-index: 100000000 !important;
    }

    .input-group-append .btn, .input-group-prepend .btn {
        position: relative;
        z-index: 0;
    }

    #pageloader {
        background: rgba(175, 175, 175, 0.8);
        display: none;
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    #pageloader img {
        left: 50%;
        margin-left: -32px;
        margin-top: -32px;
        position: absolute;
        top: 50%;
        border-bottom: 3px solid #fff;
    }

    #pageloader p {
        left: 50%;
        margin-left: -43px;
        margin-top: -32px;
        position: absolute;
        top: 61%;
        color: #ff5300;
        font-size: 16px;
        margin-bottom: 0px;
        font-weight: 700;
    }
</style>
</body>
</html>
