<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}NOURISH-ERP{% endblock %}</title>
    {% block stylesheets %}
        <!-- fontawesome icon -->
        <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/css/fontawesome-all.min.css') }}">
        <!-- animation css -->
        <link rel="stylesheet" href="{{ asset('assets/plugins/animation/css/animate.min.css') }}">
        <!-- vendor css -->
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}" />
</head>
<body id="{% block body_id %}{% endblock %}">

<div class="main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            {% block body %}

            {% endblock %}
        </div>
    </div>
</div>
<style>

    .title-h1 {
        font-size: 30px;
        margin-bottom: 0px;
        line-height: normal;
    }

    .title-h2 {
        font-size: 24px;
        margin-bottom: 0px;
        line-height: normal;
    }

    .title-h3 {
        font-size: 20px;
        margin-bottom: 0px;
        line-height: normal;
    }

    .title-h4 {
        font-size: 16px;
        margin: 0 0 5px 0!important;
        line-height: normal;
        padding: 0!important;
    }

    .title-h5 {
        font-size: 14px;
        margin: 0 0 5px 0!important;
        line-height: normal;
        padding: 0!important;
    }

    .title-h6 {
        font-size: 12px;
        margin-bottom: 0px;
        line-height: normal;
    }

    p {
        font-size: 12px;
        margin: 0 0 5px 0!important;
        line-height: normal;
        padding: 0!important;
    }

    a{
        color: #0075dd;
        margin-bottom: 5px;
    }

    table{
        width: 100%;
    }
    table.header-title thead th, table.header-title tbody td{
        font-size: 14px!important;
    }
    table thead th, table tbody td{
        font-size: 12px!important;
    }
    table tbody td{
        padding: 2px 3px!important;
    }
</style>
<!-- [ Main Content ] end -->

</body>
</html>
