{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('core_user_index') }}"> {{ 'Manage Administrator'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Administrator'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('core_user_register') }}" class="btn btn-sm  green-bg white-font"><i
                                        class="feather icon-user-plus"></i>{{ 'New User'|trans }}</a>
                            <a href="{{ path('core_user_index') }}" class="btn btn-sm gray-bg white-font"><i
                                        class="feather icon-users"></i>{{ 'Users'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">{{ 'ID'|trans }}</th>
                            <th scope="col">{{ 'Name'|trans }}</th>
                            <th scope="col">{{ 'Designation'|trans }}</th>
                            <th scope="col" width="100">{{ 'Mobile'|trans }}</th>
                            <th scope="col">{{ 'Email'|trans }}</th>
                            {#                            <th scope="col">{{ 'Department'|trans }}</th>#}
                            <th scope="col">{{ 'Access'|trans }}</th>
                            <th scope="col">{{ 'Status'|trans }}</th>
                            <th scope="col" class=" text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if users is defined %}
                            {% for user in users %}
                                <tr  {{ user.userMode is same as 'DEVELOPER' ? 'title="DEVELOPER"' : '' }}>
                                    <td {{ app.user.id is same as user.id ? 'style="background-color: #3699ff61"' : "" }}>{{ loop.index }}</td>
                                    <td {{ app.user.id is same as user.id ? 'style="background-color: #3699ff61"' : "" }}>{{ user.userId|default('') }}</td>
                                    <td {{ app.user.id is same as user.id ? 'style="background-color: #3699ff61"' : "" }}>{{ user.name|default('') }} {{ user.userMode is same as 'DEVELOPER' ? '<i class="fa fa-wrench" style="color:#9e4900"></i>' : '' }}</td>
                                    <td {{ app.user.id is same as user.id ? 'style="background-color: #3699ff61"' : "" }}>
                                        {{ user.userMode is same as 'DEVELOPER' ? user.userMode : user.designation.name|default() }}
                                    </td>
                                    <td {{ app.user.id is same as user.id ? 'style="background-color: #3699ff61"' : "" }}>{{ user.mobile|default('') }}</td>
                                    <td {{ app.user.id is same as user.id ? 'style="background-color: #3699ff61"' : "" }}>{{ user.email|default('') }}</td>
                                    {#                                    <td>{{ user.department.name|default('') }}</td>#}
                                    <td {{ app.user.id is same as user.id ? 'style="background-color: #3699ff61"' : "" }}>
{#                                        {% if 'ROLE_DEVELOPER' in user.roles %}#}
{#                                            <span class="btn-mini white-font mr-1 mb-1 gray-dark-bg" style="display: inline-block">DEVELOPER</span>#}
{#                                        {% endif %}#}

                                        {% for role in user.roles|sort %}
                                            {% if role not in ['ROLE_USER','ROLE_DEVELOPER'] %}

                                                <span class="btn-mini white-font mr-1 mb-1 {{ role is same as 'ROLE_DEVELOPER' ? 'gray-dark-bg' : 'blue-bg' }}"
                                                      style="display: inline-block">
                                                {% set roleSplit = role|split('_') %}
                                                    {% for accessRole in roleSplit %}
                                                        {% if not loop.first %}
                                                            {{ accessRole }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td {{ app.user.id is same as user.id ? 'style="background-color: #3699ff61"' : "" }}>
                                        {# #659c179e #}
                                        {{ user.enabled ? 'enabled': 'disabled' }}
                                    </td>
                                    <td align="right" {{ app.user.id is same as user.id ? 'style="background-color: #3699ff61"' : "" }}>
                                        <div class="btn-group">
                                            {#                                            <a class="btn btn-mini blue-bg white-font" href="#"><i class="feather icon-eye"></i> View</a>#}

                                            {% if (user.userMode is same as 'DEVELOPER' and app.user.id is same as user.id) or user.userMode is not same as 'DEVELOPER' %}
                                                <a class="btn btn-mini yellow-bg white-font"
                                                   href="{{ path('core_user_edit', {id:user.id}) }}"><i
                                                            class="feather icon-edit"></i> Edit</a>
                                                <a class="btn btn-mini purple-bg white-font" data-toggle="modal"
                                                   data-action="{{ path('user_password_update', {id:user.id}) }}"
                                                   data-target="#passwordUpdateModal" href=""><i
                                                            class="feather icon-lock"></i> Change Password</a>
                                            {% elseif user.userMode is same as 'DEVELOPER' and app.user.id is not same as user.id %}
                                                <a class="btn btn-mini disabled secondary-bg white-font"
                                                   href="javascript:void(0)"><i class="feather icon-edit"></i> Edit</a>

                                                <a class="btn btn-mini disabled secondary-bg white-font"
                                                   href="javascript:void(0)"><i class="feather icon-lock"></i> Change
                                                    Password</a>

                                            {% endif %}

                                            {% if user.userMode is not same as 'DEVELOPER' %}
                                                <a class="btn btn-transparent btn-mini red-font remove"
                                                   data-action="{{ path('core_user_delete', {id:user.id}) }}"
                                                   href="javascript:"><i class="fa fa-remove"></i></a>
                                            {% else %}
                                                <a class="btn btn-transparent btn-mini disabled text-secondary"
                                                   href="javascript:"><i class="fa fa-ban"></i></a>
                                            {% endif %}

                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td align="center" colspan="09">{{ 'No records found!'|trans }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="passwordUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update Password</h4>
                </div>

                <div class="modal-body">

                </div>


            </div>
        </div>
    </div>
    <style>
        .modal-lg {
            width: 65%;
            max-width: 65%;
            /*height: 100%;*/
            padding: 0;
        }

        .modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 0;
        }
    </style>


{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/core/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/core/js/user.js') }}"></script>
    {#    <script type="application/javascript" src="{{ asset('assets/pagination/core/ajax-user.js') }}"></script>#}
    <script>
        $('#datatable').DataTable({
            "pageLength": 25,
            "ordering": false
        });

        {#    Append Password Fields#}
        jQuery("#passwordUpdateModal").on("show.bs.modal", function (e) {
            var url = jQuery(e.relatedTarget).data('action');

            jQuery.get(url, function (data) {
                jQuery(".modal-body").html(data.html);
            });

        });
    </script>
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
