<div class="row">
    <div class="card">
        <div class="portlet box green ">
            <div class="portlet-body form">
                {{ form_start(form, { 'attr': {'class':'form-horizontal'},'action': path('user_password_update', {id:user.id})}) }}
                <div class="row form-body">
                    <div class="form-inner-no-space">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_label(form.password.first, 'label.password', {'label_attr': {'class': 'col-md-4'}}) }}
                                    <div class="col-md-8">
                                        <span class="not-blank"> *</span>
                                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control input-lg'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.password.second, 'label.new_password_confirm', {'label_attr': {'class': 'col-md-4'}}) }}
                                    <div class="col-md-8">
                                        <span class="not-blank"> *</span>
                                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control input-lg'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="btn-group" role="group">
                                    <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                    <button  type="submit" class="btn btn-info form-submit">{{ 'SaveAndCreate'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>