<style>
    table thead {
        position: sticky;
        top: -1px;
        background-color: #dbdee3 !important;
        border-bottom-color: #4C9EE7!important;
    }
</style>

<div class="modal-header" style="display: block">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
{#    <div class="btn-group">#}
    {% if batch.orderDeliveryStatus=='DELIVERED' %}
        <a href="{{ path('send_sms_to_regional_managers',{batch: batch.id}) }}" class="btn btn-sm blue-bg white-font" id="sendSms"><i class="fa fa-send"></i> Send</a>
    {% endif %}
        <a href="{{ path('show_regional_managers_amount',{batch: batch.id, mode: 'pdf'}) }}" target="_blank" class="btn btn-sm btn-info white-font"><i class="fa fa-download"></i> PDF</a>
{#    </div>#}
    {#                    <h4 class="modal-title" id="myModalLabel">Details</h4>#}
</div>

<div class="modal-body">
    <div class="row">
        {#    <h4 class="text-center bg-secondary w-100 p-1">{{ 'Details'|trans }}</h4>#}
        <div class="col-md-12" style="max-height: 550px; overflow-y: auto">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center">All <br><input type="checkbox" id="checkAll"></th>
                    <th class="text-center">{{ 'S/L'|trans }}</th>
                    <th class="text-center">{{ 'Manager'|trans }}</th>
                    <th class="text-center">{{ 'Mobile'|trans }}</th>
                    <th class="text-center">{{ 'Districts'|trans }}</th>
                    <th class="text-center">{{ 'Amount (Ton)'|trans }}</th>
                    <th class="text-center">{{ 'Status'|trans }}</th>
                    <th class="text-center">{{ 'Details'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% if salesDoSmsAdmins is defined and salesDoSmsAdmins is not empty %}
                    {% for admin in salesDoSmsAdmins %}
                        <tr>
                            <td style="background-color: #c7ffdb" align="center"><input type="checkbox" value="{{ admin.id }}"></td>
                            <td style="background-color: #c7ffdb" align="center">{{ loop.index }}</td>
                            <td style="background-color: #c7ffdb">{{ admin.name|default('') }}</td>
                            <td style="background-color: #c7ffdb">{{ admin.mobile|default('') }}</td>
                            <td style="background-color: #c7ffdb"></td>
                            {% if loop.first %}
                                <td style="background-color: #c7ffdb" align="right" rowspan="{{ salesDoSmsAdmins|length }}" colspan="2">Total-{{ totalAmount / 1000 }}</td>

                            {% endif %}
                            {#                        <td style="background-color: #c7ffdb"></td>#}
                            <td style="background-color: #c7ffdb" align="center"><a target="_blank" href="{{ path('show_regional_managers_amount_details', { orderDeliveryStatus: batch.orderDeliveryStatus|lower, request_date: batch.syncDate|date('d-m-Y'), district_id: 'all'}) }}" class="btn btn-mini purple-bg white-font"><i class="fa fa-eye"></i></a>
                            </td>

                        </tr>
                    {% endfor %}
                {% endif %}
                {% if records is defined and records is not empty %}
                    {% for record in records %}
                        {% set districtOldId = '' %}
                        <tr>
                            <td align="center"><input type="checkbox" value="{{ record.manager.id }}" {{ record.status ? 'checked': '' }}></td>
                            <td align="center">{{ (salesDoSmsAdmins is defined ? (salesDoSmsAdmins|length) : 0) + loop.index }}</td>
                            <td>{{ record.manager.name|default('') }}</td>
                            <td>{{ record.manager.mobile|default('') }}</td>
                            <td>
                                {% for district in record.manager.district %}
                                    {% set districtOldId = districtOldId ~ district.oldId %}
                                    {{ district.name }}
                                    {% if not loop.last %}
                                        ,
                                        {% set districtOldId = districtOldId ~ ',' %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td align="right">{{ (record.totalAmount / 1000)|default() }}</td>
                            <td align="center">{{ record.status ? 'Yes':'No' }}</td>
                            <td align="center"><a target="_blank" href="{{ path('show_regional_managers_amount_details', {orderDeliveryStatus: record.batch.orderDeliveryStatus|lower, request_date: record.batch.syncDate|date('d-m-Y'), district_id: districtOldId}) }}" class="btn btn-mini purple-bg white-font"><i class="fa fa-eye"></i></a>
                                {#                        <td align="center"><a href="javascript:void(0)" class="btn btn-mini purple-bg white-font"><i class="fa fa-eye"></i></a>#}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" align="center">{{ 'No records Found!'|trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>







<script>
    $("#checkAll").click(function(){
        $('input:checkbox').not(this).prop('checked', this.checked);
    }); //check all

    $("table tbody tr td:not(:last-child)").click(function(e) {
            if($(e.target).is(':checkbox')) return; //ignore when click on the checkbox

            const $cb = $(this).parent("tr").find(':checkbox');
            $cb.prop('checked', !$cb.is(':checked'));

    }); // check after clicking tr


    // send sms
    $("#sendSms").click(function (e) {
        e.preventDefault();
        $("#pageloader").fadeIn();

        var idArray = [];
        $("td input:checkbox:checked").each(function(){
            idArray.push($(this).val());
        });

        $.ajax({
            url: $(this).attr('href'),
            type: 'get',
            data: {ids: idArray},
            success: function (res) {
                window.location.href = Routing.generate(res.route);
            }
        })
        // console.log(idArray);
    })
</script>
