{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:">{{ 'Team member Mark Details'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Team member Mark Details'|trans }}</h5>
                    <div class="float-right">
                        <div class="btn-group">
                            <a href="{{ path('team_member_mark_details',{'id': employee.id, 'year': year, 'mode': 'excel'}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-excel"></i> {{ 'Excel'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped table-hover mb-0">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Employee ID: {{ employee.userId }}</th>
                                    <th>Employee Name: {{ employee.name }}</th>
                                    <th>Line Manager: {{ employee.lineManager.name }}</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="overflow-x: auto">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="thead-dark">
                        {% if marks is defined %}
                            <tr>
                                <th>{{ 'Year'|trans }}</th>
                                <th>{{ 'Month'|trans }}</th>
                                {% for attribute in marks.attributes %}
                                    {% if attribute.parameterSlug == 'values' or attribute.parameterSlug == 'skill-1' or attribute.parameterSlug == 'skill' or attribute.parameterSlug == 'compliance-with-company-goals' %}
                                        <th colspan="2">
                                            {{ attribute.name }} <br>(LM/SM)

                                            <br><br><br>
                                            (Total Marks = {{ attribute.attributeMark }})

                                        </th>
                                    {% else %}
                                        <th>
                                            {{ attribute.name }}
                                            <br><br><br>
                                            (Total Marks = {{ attribute.attributeMark }})
                                        </th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        </thead>
                        <tbody>
                        {% if marks is defined %}
                            {% for month,attribute in marks.month %}
                                <tr>
                                    {% if loop.first %}
                                        <td rowspan="{{ (marks.month|length) }}">{{ year }}</td>
                                    {% endif %}
                                    {% set monthArray = month|split('-') %}
                                    <td>{{ monthArray[1] }}</td>
                                    {% for attributeId, value in attribute %}
                                        {% if marks.attributes[attributeId] is defined %}
                                            {% if marks.attributes[attributeId].parameterSlug == 'values' or marks.attributes[attributeId].parameterSlug == 'skill-1' or marks.attributes[attributeId].parameterSlug == 'skill' or marks.attributes[attributeId].parameterSlug == 'compliance-with-company-goals' %}
                                                <td align="center">{{ value.lineManagerMark }}</td>
                                                <td align="center">{{ value.selfMark }}</td>
                                            {% else %}
                                                <td align="center">{{ value.lineManagerMark }}</td>
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            <tr>
                                <th colspan="2" class="text-center">{{ 'Avarage'|trans }}</th>
                                {% for attributeId, mark in marks.total %}
                                    {% if marks.attributes[attributeId] is defined %}
                                        {% if marks.attributes[attributeId].parameterSlug == 'values' or marks.attributes[attributeId].parameterSlug == 'skill-1' or marks.attributes[attributeId].parameterSlug == 'skill' %}
                                            <th class="text-center">{{ (mark.totalLineManagerMark / (marks.month|length))|number_format(2)|default(0) }}</th>
                                            <th class="text-center">{{ (mark.totalSelfMark / (marks.month|length))|number_format(2)|default(0) }}</th>
                                        {% else %}
                                            <th class="text-center">{{ (mark.totalLineManagerMark / (marks.month|length))|number_format(2)|default(0) }}</th>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>

                        {% endif %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>

{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
