<table class="table table-bordered table-striped table-hover mb-0">
    <thead class="thead-dark">
    <tr>
        <th>Employee ID: {{ employee.userId }}</th>
        <th>Employee Name: {{ employee.name }}</th>
        <th>Line Manager: {{ employee.lineManager.name }}</th>
    </tr>
    </thead>
</table>

<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    {% if marks is defined %}
        <tr>
            <th>{{ 'Year'|trans }}</th>
            <th>{{ 'Month'|trans }}</th>
            {% for attribute in marks.attributes %}
                {% if attribute.parameterSlug == 'values' or attribute.parameterSlug == 'skill-1' or attribute.parameterSlug == 'skill' or attribute.parameterSlug == 'compliance-with-company-goals' %}
                    <th colspan="2">{{ attribute.name }} <br>(LM/SM)</th>
                {% else %}
                    <th>{{ attribute.name }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    {% endif %}
    </thead>
    <tbody>
    {% if marks is defined %}
        {% for month,attribute in marks.month %}
            <tr>
                {% if loop.first %}
                    <td rowspan="{{ (marks.month|length) }}">{{ year }}</td>
                {% endif %}
                {% set monthArray = month|split('-') %}
                <td>{{ monthArray[1] }}</td>
                {% for attributeId, value in attribute %}
                    {% if marks.attributes[attributeId] is defined %}
                        {% if marks.attributes[attributeId].parameterSlug == 'values' or marks.attributes[attributeId].parameterSlug == 'skill-1' or marks.attributes[attributeId].parameterSlug == 'skill' or marks.attributes[attributeId].parameterSlug == 'compliance-with-company-goals' %}
                            <td align="center">{{ value.lineManagerMark }}</td>
                            <td align="center">{{ value.selfMark }}</td>
                        {% else %}
                            <td align="center">{{ value.lineManagerMark }}</td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <th colspan="2" class="text-center">{{ 'Avarage'|trans }}</th>
            {% for attributeId, mark in marks.total %}
                {% if marks.attributes[attributeId] is defined %}
                    {% if marks.attributes[attributeId].parameterSlug == 'values' or marks.attributes[attributeId].parameterSlug == 'skill-1' or marks.attributes[attributeId].parameterSlug == 'skill' %}
                        <th class="text-center">{{ (mark.totalLineManagerMark / (marks.month|length))|number_format(2)|default(0) }}</th>
                        <th class="text-center">{{ (mark.totalSelfMark / (marks.month|length))|number_format(2)|default(0) }}</th>
                    {% else %}
                        <th class="text-center">{{ (mark.totalLineManagerMark / (marks.month|length))|number_format(2)|default(0) }}</th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>

    {% endif %}
    </tbody>
</table>
