<table>
    <thead>
    <tr>
        <th>{{ 'Employee ID'|trans }}: {{ employee.userId }}</th>
        <th>{{ 'Employee Name'|trans }}: {{ employee.name }}</th>
        <th>{{ 'Line Manager'|trans }}: {{ employee.lineManager.name }}</th>
    </tr>
    <tr>
        <th class="text-center">{{ 'Year'|trans }}</th>
        <th>{{ 'Month'|trans }}</th>
        <th>{{ 'Self Grade'|trans }}</th>
        <th>{{ 'Line Manager Grade'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if grades is defined %}
        {% for grade in grades %}
            <tr>
                {% if loop.first %}
                    <td rowspan="{{ grades|length }}" align="center">{{ year }}</td>
                {% endif %}
                <td>{{ grade.month }}</td>
                <td>{{ grade.selfGrade }}</td>
                <td>{{ grade.lineManagerGrade }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" align="center">{{ 'No records Found!'|trans }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

