{% extends 'admin/layout.html.twig' %}


{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/">{{ 'Dashboard'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <table class="table table-striped table-bordered table-hover download-excel" id="datatable">
            <thead class="thead-dark">
            <tr>
                <th colspan="8" data-a-h="center" class="text-center">
                    {% if is_granted('ROLE_KPI_ADMIN') %}
                        {{ 'All Employees\' KPI (Average Grade)'|trans }}
                    {% else %}
                        {{ 'Team Members\' KPI (Average Grade)'|trans }}
                    {% endif %}
                </th>
            </tr>
            <tr>
                <th>{{ 'Employee Id'|trans }}</th>
                <th>{{ 'Employee Name'|trans }}</th>
                <th>{{ 'Designation'|trans }}</th>
                {#                                <th>{{ 'Date Of Joining'|trans }}</th>#}
                <th>{{ 'Line Manager'|trans }}</th>
                <th>{{ 'Self Mark'|trans }}</th>
                <th>{{ 'Line Manager Mark'|trans }}</th>
                <th>{{ 'Self Grade'|trans }}</th>
                <th>{{ 'Line Manager Grade'|trans }}</th>
            </tr>
            </thead>
            <tbody class="team-member-details">
            {% for member in teamMembersKpi %}
                <tr>
                    <td>{{ member.userId }}</td>
                    <td>{{ member.employeeName }}</td>
                    <td>{{ member.designationName }}</td>
                    {#        <td>{{ member.joiningDate ? member.joiningDate|date('l, F d, Y') : '' }}</td>#}
                    <td>{{ member.lineManagerName }}</td>
                    <td>{{ member.selfMarkAvg|number_format(2) }}</td>
                    <td>{{ member.lineManagerMarkAvg|number_format(2) }}</td>
                    <td>
                        {% if member.selfMarkAvg >= 80 %}
                            {{ 'A' }}
                        {% elseif member.selfMarkAvg >= 75 and member.selfMarkAvg < 80 %}
                            {{ 'B+' }}
                        {% elseif member.selfMarkAvg >= 70 and member.selfMarkAvg < 75 %}
                            {{ 'B' }}
                        {% elseif member.selfMarkAvg >= 65 and member.selfMarkAvg < 70 %}
                            {{ 'C' }}
                        {% else %}
                            {{ 'D' }}
                        {% endif %}
                    </td>
                    <td>
                        {% if member.lineManagerMarkAvg >= 80 %}
                            {{ 'A' }}
                        {% elseif member.lineManagerMarkAvg >= 75 and member.lineManagerMarkAvg < 80 %}
                            {{ 'B+' }}
                        {% elseif member.lineManagerMarkAvg >= 70 and member.lineManagerMarkAvg < 75 %}
                            {{ 'B' }}
                        {% elseif member.lineManagerMarkAvg >= 65 and member.lineManagerMarkAvg < 70 %}
                            {{ 'C' }}
                        {% else %}
                            {{ 'D' }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center" data-a-h="center" colspan="10">{{ 'No records found!'|trans }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <!-- [ Main Content ] end -->
    </div>

{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>


    <script>

        function downloadExcel() {
            {% if is_granted('ROLE_KPI_ADMIN') %}
            var fileName = "all_employees_kpi_details_" + "{{ "now"|date('hms') }}" + ".xlsx"
            {% else %}
            var fileName = "{{ app.user.userId ~ '-' ~ app.user.username }} " + "_team_member_kpi_details_" + "{{ "now"|date('hms') }}" + ".xlsx"
            {% endif %}

            let table = document.querySelector(".download-excel");
            TableToExcel.convert(table, {
                name: fileName,
                sheet: {
                    name: "Sheet 1"
                }
            });
        }
        $(document).ready(function() {
            downloadExcel();
        });

        // setInterval(downloadExcel, 1000);



    </script>
{% endblock %}





























