
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i> {{ entity.organizationName }}</div>
    </div>
    <div class="portlet-body form">
        <form action="{{ actionUrl }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm">
        <div class="row form-body">
            <div class="col-md-12"></div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.syndicate, 'label.busness.group', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.syndicate) }}
                        {{ form_errors(form.syndicate) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.name, 'label.organizationName', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.organizationName) }}
                        {{ form_errors(form.organizationName) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.name, 'label.name', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.location, 'label.location', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.location, {'attr': {'class': 'form-control select2'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.mobile, 'label.mobile', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.mobile) }}
                        {{ form_errors(form.mobile) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.displayMobile, 'label.dispaly.mobile', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        {{ form_widget(form.displayMobile) }}
                        {{ form_errors(form.displayMobile) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.subDomain, 'label.subDomain', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        {{ form_widget(form.subDomain) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.domain, 'label.domain', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        {{ form_widget(form.domain) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.email, 'label.email', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control input-lg'}}) }}
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.mainApp, 'label.mainApp', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.mainApp, {'attr': {'class': 'form-control select2'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.appModules, 'label.appModules', {'label_attr': {'class': 'col-md-4'}}) }}
                    <div class="col-md-8">
                        <span class="not-blank"> *</span>
                        {{ form_widget(form.appModules, {'attr': {'class': ''}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions right">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        </form>
    </div>
</div>