{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('admin_terminal_index') }}"> {{ 'Manage Users'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Doamin'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">

                            <a href="{{ path('admin_terminal_new') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Doamin'|trans }}</a>
                            <a href="{{ path('admin_terminal') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Domain'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td colspan="2">
                                <input  type="date" class="form-control form-filter input-sm input-daterange" name="created" id="created" placeholder="date"> </td>
                            <td>
                                <input  type="text" class="form-control  input-sm" name="organizationName" id="organizationName" placeholder="Organization Name"> </td>
                            <td>
                                <input type="text" class="form-control  input-sm" placeholder="User Name" name="name" id="name"> </td>
                            <td>
                                <input type="text" class="form-control  input-sm" placeholder="Mobile no" name="mobile" id="mobile"> </td>
                            <td>
                                <input type="text" class="form-control  input-sm" placeholder="Location" name="location" id="location"> </td>
                            <td>
                                <select class="form-control" name="mainApp" id="mainApp" >
                                    <option value=""> -Main Application - </option>
                                    {% for module in modules %}
                                        <option value="{{ module.id }}">{{ module.name }}</option>
                                    {% endfor %}

                                </select>
                            <td>
                                <select class="form-control" name="syndicate" id="syndicate" >
                                    <option value=""> -Business Group- </option>
                                    {% for syndicate in syndicates %}
                                        <option value="{{ syndicate.id }}">{{ syndicate.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="2">
                                <select class="form-control" name="process" id="process"  >
                                    <option value=""> -Process- </option>
                                    <option value="Paid">Paid</option>
                                    <option value="">Due</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Created</th>
                            <th scope="col">Organization</th>
                            <th scope="col">Name</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Location</th>
                            <th scope="col">Main App</th>
                            <th scope="col">Business Group</th>
                            <th scope="col">Status</th>
                            <th scope="col" class=" text-center"><i class="feather icon-settings"></i></th>
                        </tr>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/terminal/js/terminal.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/pagination/terminal/ajax-terminal.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
