
{% extends 'admin/layout.html.twig' %}
{% block body_id 'admin_terminal_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">Domain</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Organization'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('admin_terminal_new') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Doamin'|trans }}</a>
                            <a href="{{ path('admin_terminal') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Domain'|trans }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage Organization'|trans }}</div>

                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.syndicate, 'Business Group'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.syndicate) }}
                                                {{ form_errors(form.syndicate) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.name, 'Organization Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.organizationName) }}
                                                {{ form_errors(form.organizationName) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.name, 'Company Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.name) }}
                                                {{ form_errors(form.name) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.location, 'Location'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.location, {'attr': {'class': 'form-control select2'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.mobile, 'Mobile'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.mobile) }}
                                                {{ form_errors(form.mobile) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.displayMobile, 'Dispaly Mobile'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.displayMobile) }}
                                                {{ form_errors(form.displayMobile) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.subDomain, 'SubDomain'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.subDomain) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.domain, 'Domain'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.domain) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.email, 'e-Mail'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.email, {'attr': {'class': 'form-control input-lg'}}) }}
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.mainApp, 'Main App'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.mainApp, {'attr': {'class': 'form-control select2'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.appModules, 'App Modules'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.appModules, {'attr': {'class': ''}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-actions right">
                                    <div class="col-md-12">

                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'SaveAndCreate', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}