<style>
    /*    table.employee-info tr td:first-child{
            width: 15%;
        }*/
    table.employee-info tr td{
        border: 0 !important;
    }
    table.district-history thead {
        position: sticky;
        top: -1px;
        background-color: #dbdee3 !important;
        border-bottom-color: #4C9EE7!important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <table class="employee-info table">
            <thead></thead>
            <tbody>
            <tr>
                <td class="control-label">Name:</td>
                <td class="control-label">{{ employee.name|default('') }}</td>
                <td>Department: </td>
                <td>{{ employee.department.name|default('') }}</td>
            </tr>
            <tr>
                <td>ID: </td>
                <td>{{ employee.userId|default('') }}</td>
                <td>Format: </td>
                <td>{{ employee.reportMode.name|default('') }}</td>
            </tr>

            <tr>
                <td>Designation: </td>
                <td>{{ employee.designation.name|default('') }}</td>
                <td>Working Area: </td>
                <td>{% for district in employee.district %}{{ district.name }}{% if not loop.last %},{% endif %} {% endfor %}</td>
            </tr>

            <tr>
                <td>Mobile: </td>
                <td>{{ employee.mobile|default('') }}</td>
                <td>Address: </td>
                <td>{{ employee.address|default('') }}</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>{{ employee.email|default('') }}</td>
                <td>Permanent Date: </td>
                <td>{{ employee.permanentDate ? employee.permanentDate|date('d-m-Y') : '' }}</td>
            </tr>

            <tr>
                <td>Service Mode: </td>
                <td>{{ employee.serviceMode.name|default('') }}</td>
                <td>Job Status: </td>
                <td>
                    {% if employee.isPermanent %}
                        <span class="btn btn-mini blue-bg white-font">Permanent</span>
                    {% else %}
                        <span class="btn btn-mini yellow-bg white-font">Temporary</span>
                    {% endif %}

                </td>
            </tr>
            <tr>
                <td>Joining Date: </td>
                <td>{{ employee.joiningDate ? employee.joiningDate|date('d-m-Y') : '' }}</td>
                <td>Line Manager: </td>
                <td>{{ employee.lineManager.name|default('') }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <h4 class="text-center bg-secondary w-100 p-1">{{ 'District History'|trans }}</h4>
    <div class="col-md-12" style="max-height: 250px; overflow-y: auto">
        <table class="table table-bordered table-striped table-hover district-history" id="datatable">
            <thead class="thead-dark">
            <tr>
                <th>{{ 'Year'|trans }}</th>
                <th>{{ 'Month'|trans }}</th>
                <th class="text-center">{{ 'Districts'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if districtHistory is defined and districtHistory is not empty %}
                {% for year, data in districtHistory %}
                    {% for month, history in data %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ data|length }}" align="center">{{ year }}</td>
                            {% endif %}
                            <td>{{ (month|split('-'))[1] }}</td>
                            <td>{{ history.district }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
