<div class="row">
    <div class="card">
        <div class="card-header">
            <h5>{{ 'Self KPI'|trans }}</h5>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs">
                {% for status, board in selfKpi %}
                    <li class="">
                        <a href="#{{ status }}" class="self-kpi-list-tap {{ loop.first ? 'active': '' }} p-1 white-font yellow-bg" data-toggle="tab">{{ status|capitalize }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for status,list in selfKpi %}
                    <div class="tab-pane {{ loop.first ? 'active': '' }}" id="{{ status }}">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th>S/N</th>
                                <th>{{ 'Month'|trans }}</th>
                                <th>{{ 'Actual Mark'|trans }}</th>
                                <th>{{ 'Obtain Mark'|trans }}</th>
                                <th>{{ 'Grade'|trans }}</th>
                                <th>{{ 'Self Mark'|trans }}</th>
                                <th>{{ 'Self Grade'|trans }}</th>
                                <th>{{ 'District'|trans }}</th>
                                <th>{{ 'Format'|trans }}</th>
                                <th>{{ 'Created Date'|trans }}</th>
                                <th>{{ 'Created By'|trans }}</th>
                                <th>{{ 'Approved By'|trans }}</th>
                                <th class="text-center"><i class="feather icon-settings"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for board in list %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ board.month|default('') }}, {{ board.year|default('') }}</td>
                                    <td>{{ board.actualMark|default(0)|number_format(2) }}</td>
                                    <td>{{ board.obtainMark|default(0) }}</td>
                                    <td>{{ board.grade|default('') }}</td>
                                    <td>{{ board.selfMark|default(0)|number_format(2) }}</td>
                                    <td>{{ board.selfGrade|default('') }}</td>
                                    <td>
                                        {% if board.district is not empty %}
                                            {% for district in board.district|json_decode %}
                                                {{ district }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}

                                        {% endif %}
                                    </td>
                                    <td>{{ board.reportMode.name|default('') }}</td>
                                    <td>
                                        {{ board.created|date('d-m-Y')}}
                                    </td>
                                    <td>
                                        {% if board.createdBy.id is same as app.user.id %}
                                            {{ 'Self'|trans }}
                                        {% else %}
                                            {{ board.createdBy.name|default('') }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ board.approvedBy.name|default('') }}
                                    </td>
                                    <td align="right">
                                        <div class="btn-group">
                                            {% if board.approvedBy is null %}
                                                <a class="btn btn-mini yellow-bg white-font" href="{% if board.reportMode.slug in ['custom-format-spo', 'custom-format-poultry', 'custom-format-cattle', 'custom-format-aqua'] %}
                                                                    {{ path('kpi_employee_board_edit_custom_format',{'id':board.id}) }}
                                                                {% else %}
                                                                    {{ path('kpi_employee_board_edit',{'id':board.id}) }}
                                                                {% endif %}"><i class="feather icon-edit"></i>

                                                    Edit
                                                </a>

                                                <a class="btn btn-transparent btn-mini red-font remove" data-action="{{ path('kpi_employee_board_delete',{'id':board.id}) }}" href="javascript:"><i class="fa fa-remove"></i></a>
                                            {% endif %}
                                            <a class="btn btn-mini btn-info" href="{{ path('kpi_details_report',{'id':board.id}) }}"><i class="feather icon-file"></i> Details</a>
                                            <a class="btn btn-mini blue-bg white-font" href="{% if board.reportMode.slug == 'custom-format' %} {{ path('kpi_report_sales_achievement_custom_format',{'id':board.id}) }} {% else %} {{ path('kpi_report_sales_achievement',{'id':board.id}) }} {% endif %}"><i class="feather icon-file"></i> Achieve</a>
                                            <a class="btn btn-mini purple-bg white-font" href="{{ path('kpi_summary_report',{'id':board.id}) }}"><i class="feather icon-file"></i> Summary</a>

                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="11" align="center">{{ 'No records found!'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>