<div class="modal-header" style="display: block">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ 'Grade Details'|trans }}</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'Employee ID'|trans }}: {{ employee.userId }}</th>
                    <th>{{ 'Employee Name'|trans }}: {{ employee.name }}</th>
                    <th>{{ 'Line Manager'|trans }}: {{ employee.lineManager.name }}</th>
                    <th class="text-right">
                        <a href="{{ path('team_member_grade_details_modal', {'id': employee.id, 'year': year, 'mode': 'excel'}) }}" class="btn btn-mini blue-bg white-font"><i class="fa fa-file-excel"></i> {{ 'Excel'|trans }}</a>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="max-height: 250px; overflow-y: auto">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center">{{ 'Year'|trans }}</th>
                    <th>{{ 'Month'|trans }}</th>
                    <th>{{ 'Self Grade'|trans }}</th>
                    <th>{{ 'Line Manager Grade'|trans }}</th>
                    <th>{{ 'Line Manager'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% if grades is defined %}
                    {% for grade in grades %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ grades|length }}" align="center">{{ year }}</td>
                            {% endif %}
                            <td>{{ grade.month }}</td>
                            <td>{{ grade.selfGrade }}</td>
                            <td>{{ grade.lineManagerGrade }}</td>
                            <td>{{ grade.lineManagerName }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" align="center">{{ 'No records Found!'|trans }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<style>
    table thead {
        position: sticky;
        top: -1px;
        background-color: #dbdee3 !important;
        border-bottom-color: #4C9EE7!important;
    }
</style>

