<div class="row">
    <div class="card">
        <div class="card-header">
            <h5 class="d-inline-block">
                {% if is_granted('ROLE_KPI_ADMIN') %}
                    {{ 'All Employees\' KPI (Average Grade)'|trans }}
                {% else %}
                    {{ 'Team Members\' KPI (Average Grade)'|trans }}
                {% endif %}
            </h5>
            <div class="float-right">
                <div class="btn-group">
                    <select name="year" id="dashboardSelectYear" class="form-control" data-action="{{ path('team_member_details_refresh') }}" style="min-height: 31px">
                        <option value="">- Select Year -</option>
                        {% for year in 'now'|date('Y')..2020 %}
                            <option value="{{ year }}" {{ year==selectedYear?'selected="selected"':'' }}>{{ year }}</option>
                        {% endfor %}
                    </select>
{#                    <button type="submit" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="team-member-kpi-details-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>#}
                    <a href="{{ path('team_member_kpi_details_excel', {'year': selectedYear}) }}" target="_blank" class="btn blue-bg btn-sm white-font" title="Excel" id="team-member-kpi-details-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</a>
                </div>

            </div>
        </div>
        <div class="card-body position-relative">
            <table class="table table-striped table-bordered table-hover download-excel" id="datatable">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'Employee Id'|trans }}</th>
                    <th>{{ 'Employee Name'|trans }}</th>
                    <th>{{ 'Designation'|trans }}</th>
                    {#                                <th>{{ 'Date Of Joining'|trans }}</th>#}
                    <th>{{ 'Line Manager'|trans }}</th>
                    <th>{{ 'Self Mark'|trans }}</th>
                    <th>{{ 'Line Manager Mark'|trans }}</th>
                    <th>{{ 'Self Grade'|trans }}</th>
                    <th>{{ 'Line Manager Grade'|trans }}</th>
                    <th data-exclude="true" class="text-center"><i class="feather icon-settings"></i></th>
                </tr>
                </thead>
                <tbody class="team-member-details">
                {% include 'inc/_team-member-details-refresh.html.twig' %}

                <div id="data-loader">
                    <img src="{{ asset('/assets/images/loader-hen.gif') }}" alt="processing..."/>
                    <p>Please Wait...</p>
                </div>
                </tbody>
            </table>

        </div>
    </div>
</div>