{% for member in teamMembersKpi %}
    <tr>
        <td>{{ member.userId }}</td>
        <td>{{ member.employeeName }}</td>
        <td>{{ member.designationName }}</td>
{#        <td>{{ member.joiningDate ? member.joiningDate|date('l, F d, Y') : '' }}</td>#}
        <td>{{ member.lineManagerName }}</td>
        <td>{{ member.selfMarkAvg|number_format(2) }}</td>
        <td>{{ member.lineManagerMarkAvg|number_format(2) }}</td>
        <td>
            {% if member.selfMarkAvg >= 80 %}
                {{ 'A' }}
            {% elseif member.selfMarkAvg >= 75 and member.selfMarkAvg < 80 %}
                {{ 'B+' }}
            {% elseif member.selfMarkAvg >= 70 and member.selfMarkAvg < 75 %}
                {{ 'B' }}
            {% elseif member.selfMarkAvg >= 65 and member.selfMarkAvg < 70 %}
                {{ 'C' }}
            {% else %}
                {{ 'D' }}
            {% endif %}
        </td>
        <td>
            {% if member.lineManagerMarkAvg >= 80 %}
                {{ 'A' }}
            {% elseif member.lineManagerMarkAvg >= 75 and member.lineManagerMarkAvg < 80 %}
                {{ 'B+' }}
            {% elseif member.lineManagerMarkAvg >= 70 and member.lineManagerMarkAvg < 75 %}
                {{ 'B' }}
            {% elseif member.lineManagerMarkAvg >= 65 and member.lineManagerMarkAvg < 70 %}
                {{ 'C' }}
            {% else %}
                {{ 'D' }}
            {% endif %}
        </td>
        <td data-exclude="true" align="right">
            <div class="btn-group">
                <a class="btn btn-mini btn-info white-font"
                   data-toggle="modal"
                   data-action="{{ path('team_member_grade_details_modal',{'id':member.employeeId, 'year':year}) }}"
                   data-target="#myModal"
                   href=""><i class="fa fa-graduation-cap"></i> {{ 'Grade'|trans }}</a>
                <a class="btn btn-mini blue-bg white-font" target="_blank" href="{{ path('team_member_mark_details',{'id':member.employeeId, 'year':year}) }}"><i class="fa fa-file-code"></i> {{ 'Mark'|trans }}</a>
            </div>
        </td>
    </tr>
{% else %}
    <tr>
        <td align="center" colspan="10">{{ 'No records found!'|trans }}</td>
    </tr>
{% endfor %}
