{% extends 'admin/layout.html.twig' %}
{% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ "Update Password"|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Employee Password Update'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"> {{ 'Update Password'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">

                                <div class="row">
                                    <div class="col-md-6 offset-1">
                                        <div class="form-group">
                                            {{ form_label(form.currentPassword, 'Current Password', {'label_attr': {'class': 'col-md-4 control-label required'}}) }}

                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.currentPassword) }}
                                                {{ form_errors(form.currentPassword) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.newPassword.first, 'New Password', {'label_attr': {'class': 'col-md-4 control-label required'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.newPassword.first, { 'attr': {'placeholder': 'Passwords must be at least 5 characters in length.'|trans} } ) }}
                                                {{ form_errors(form.newPassword.first) }}

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.newPassword.second, 'label.new_password_confirm', {'label_attr': {'class': 'col-md-4 control-label required'}}) }}

                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.newPassword.second) }}
                                                {{ form_errors(form.newPassword.second) }}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="col-md-6 ">
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            {{ form_widget(form.update, {label: 'SaveAndUpdate', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    {#    <script type="application/javascript" src="{{ asset('assets/module/js/jquery.quicksearch.js') }}"></script>#}
    {#    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>#}
    {#    <script type="application/javascript" src="{{ asset('assets/module/core/js/user.js') }}"></script>#}
{% endblock  %}





