{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"> <a href="javascript:void(0)">  {{ 'Campaign List'|trans }}</a></li>
                    {#<li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Campaign'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('sms_center_new') }}" class="btn btn-sm green-bg white-font"><i class="fas fa-plus"></i>New Campaign</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Campaign Name'|trans }}</th>
                        <th class="text-center">{{ 'Status'|trans }}</th>
                        <th class="text-center" width="100"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if records is defined and records is not empty %}
                        {% set offset = records.getItemNumberPerPage * (records.currentPageNumber - 1) %}

                        {% for record in records %}
                            <tr>
                                <td>{{ loop.index + offset }}</td>
                                <td>{{ record.campaignName|default('') }}</td>
                                <td align="center">
                                    {% if record.status > 0 %}
                                        <i class="fa fa-check green-font"></i>
                                    {% else %}
                                        <a href="{{ path('send_sms', {campaign: record.id}) }}" class="confirm btn btn-mini blue-bg white-font"><i class="fa fa-send"></i> Send</a>
                                    {% endif %}
                                </td>
                                <td align="center">
                                    <div class="btn-group">
                                        <a href="{{ path('campaign_log', {campaign: record.id}) }}" class="btn btn-mini purple-bg white-font" target="_blank"><i class="fa fa-list"></i> Log</a>
                                        <a class="btn btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('delete_campaign', {campaign: record.id}) }}"><i class="fa fa-remove"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ records.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(records) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .pagination{
            float: right;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script>
        $(document).on('click',".confirm", function (event) {
            let link = $(this).attr('href');
            event.preventDefault();
            $.MessageBox({
                buttonFail  : "No",
                buttonDone  : "Yes",
                message     : "Are you sure want to send SMS Now?"
            }).done(function(){
                $("#pageloader").fadeIn();
                window.location.href = link;
            });
        });
    </script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
