{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Campaign Logs</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('sms_center_index') }}" class="btn btn-sm green-bg white-font"><i class="fas fa-th-list"></i>Campaign</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Name'|trans }}</th>
                        <th class="text-center">{{ 'Mobile'|trans }}</th>
                        <th class="text-center">{{ 'Status'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if logs is defined and logs is not empty %}
                        {% set offset = logs.getItemNumberPerPage * (logs.currentPageNumber - 1) %}

                        {% for log in logs %}
                            <tr>
                                <td>{{ loop.index + offset }}</td>
                                <td>{{ log.name|default('') }}</td>
                                <td>{{ log.mobile|default('') }}</td>
                                <td align="center">
                                    {% if log.status == true %}
                                        <i class="fa fa-check green-font"></i>
                                    {% else %}
                                        <i class="fa fa-clock blue-font"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ logs.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(logs) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .pagination{
            float: right;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
