{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"> <a href="javascript:void(0)">  {{ 'New Campaign'|trans }}</a></li>
                    {#<li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>SMS</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('sms_center_index') }}" class="btn btn-sm green-bg white-font"><i class="fas fa-th-list"></i>Campaign</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="portlet box green ">
                <div class="portlet-title">
                    <div class="caption">Manage SMS</div>
                </div>
                <div class="portlet-body form">
                    {{ form_start(form, {'attr':{'class': 'form-horizontal right'}}) }}
                    <div class="row form-body">
                        <div class="form-inner-no-space">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        {{ form_label(form.campaignName, 'Campaign Name', {'label_attr': {'class':'col-md-4'}}) }}

                                        <div class="col-md-8">
                                            {{ form_widget(form.campaignName, {'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(form.campaignName) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.uploadFile, 'File', {'label_attr': {'class':'col-md-4'}}) }}

                                        <div class="col-md-8">
                                            {{ form_widget(form.uploadFile, {'attr':{'class':'form-control','style':'padding-top: 7px !important; padding-bottom: 30px !important;'}}) }}
                                            {{ form_help(form.uploadFile, {'help_attr': {'class': 'text-secondary'}}) }}
                                            {{ form_errors(form.uploadFile) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.mobileNumbers, 'Mobile Numbers', {'label_attr': {'class':'col-md-4'}}) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.mobileNumbers, {'attr':{'class':'form-control','style':'padding-top: 7px !important; padding-bottom: 30px !important;'}}) }}
                                            {{ form_help(form.mobileNumbers, {'help_attr': {'class': 'text-secondary'}}) }}

                                            {{ form_errors(form.message) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.message, 'SMS Message', {'label_attr': {'class':'col-md-4'}}) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.message, {'attr':{'class':'form-control','style':'padding-top: 7px !important; padding-bottom: 30px !important;'}}) }}
                                            {{ form_help(form.message, {'help_attr': {'class': 'text-secondary'}}) }}

                                            {{ form_errors(form.message) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-5 text-right">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                <button type="submit" class="btn btn-sm blue-bg white-font" name="save" value="save"><i class="fa fa-save"></i>Save</button>
                                                {{ form_widget(form.Submit, {'label': 'Save And Send', 'attr':{'class': 'btn btn-info'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-1" style="border-right: 1px solid #9595958a">
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="" class="col-md-4"></label>
                                        <img src="{{ asset('assets/images/smsExcelFormat.png') }}" alt="Image" class="col-md-8">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
