{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"> <a href="javascript:void(0)">  {{ 'Sales Order Delivery Details'|trans }}</a></li>
                    {#<li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Sales Order Delivery Details</h5>
                    <a href="{{ path('show_regional_managers_amount_details', { orderDeliveryStatus: orderDeliveryStatus, request_date: requestDate, district_id: districtId, mode: 'pdf'}) }}" target="_blank" class="btn btn-info btn-sm white-font float-right"><i class="fa fa-download"></i> PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="max-height: 500px; overflow-y: auto">
{#            <div class="card p-3">#}
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Agent ID'|trans }}</th>
                        <th>{{ 'Agent Name'|trans }}</th>
                        <th>{{ 'District'|trans }}</th>
                        <th>{{ 'Item Name'|trans }}</th>
                        <th>{{ 'Order Date'|trans }}</th>
                        <th width="200">{{ 'Quantity(KG)'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if records is defined and records is not empty %}
                        {% set totalQuantity = 0 %}

                        {% for record in records %}
                            {% set totalQuantity = totalQuantity + record.totalQuantity %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ record.agentId }}</td>
                                <td>{{ record.agentName }}</td>
                                <td>{{ record.districtName }}</td>
                                <td>{{ record.itemName }}</td>
                                <td>{{ record.orderDate }}</td>
                                <td>{{ record.totalQuantity }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="6" class="text-center">Total Quantity</th>
                            <th>{{ totalQuantity }} KG / {{ totalQuantity/1000 }} Ton</th>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
{#            </div>#}
        </div>
    </div>
</div>

{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        /*    table.employee-info tr td:first-child{
                width: 15%;
            }*/
        table tr td{
            border: 0 !important;
        }
        table thead {
            position: sticky;
            top: -1px;
            background-color: #dbdee3 !important;
            border-bottom-color: #4C9EE7!important;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
