<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF</title>
    <style>
        body{
            /*font-family: Arial, sans-serif;*/
            font-size: 12px;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <h4 style="margin: 0">NOURISH POULTRY & HATCHERY LTD</h4>
    <h5 style="margin: 0">Uttara, Dhaka.</h5>
    <h5 style="margin-top: 0">Sales Order Delivery Amount(Details)</h5>
{#    <h5 style="margin-top: 0">Date: {{ requestDate }}</h5>#}
</div>
<table border="1" cellspacing="0" cellpadding="2" width="100%">
    <thead class="thead-dark">
    <tr>
        <th width="5%" class="text-center">{{ 'S/N'|trans }}</th>
        <th>{{ 'Agent ID'|trans }}</th>
        <th>{{ 'Agent Name'|trans }}</th>
        <th>{{ 'District'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Order Date'|trans }}</th>
        <th>{{ 'Quantity(KG)'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if records is defined and records is not empty %}
        {% set totalQuantity = 0 %}

        {% for record in records %}
            {% set totalQuantity = totalQuantity + record.totalQuantity %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ record.agentId }}</td>
                <td>{{ record.agentName }}</td>
                <td>{{ record.districtName }}</td>
                <td>{{ record.itemName }}</td>
                <td>{{ record.orderDate }}</td>
                <td>{{ record.totalQuantity }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="6" class="text-center">Total Quantity</th>
            <th>{{ totalQuantity }} KG / {{ totalQuantity/1000 }} Ton</th>
        </tr>
    {% else %}
        <tr>
            <td colspan="7" align="center">{{ 'No record has been found!'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
</body>
</html>