<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF</title>
    <style>
        body{
            /*font-family: Arial, sans-serif;*/
            font-size: 12px;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <h4 style="margin: 0">NOURISH POULTRY & HATCHERY LTD</h4>
    <h5 style="margin: 0">Uttara, Dhaka.</h5>
    <h5 style="margin: 0">Sales Order Delivery Amount SMS</h5>
    <h5 style="margin-top: 0">Date: {% if batch is defined %}{{ batch.syncDate|date('d-m-Y') }}{% endif %}</h5>
</div>
<table border="1" cellpadding="2" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="text-center" width="5">{{ 'S/L'|trans }}</th>
        <th class="text-center">{{ 'Manager'|trans }}</th>
        <th class="text-center" width="90">{{ 'Mobile'|trans }}</th>
        <th class="text-center">{{ 'Districts'|trans }}</th>
        <th class="text-center">{{ 'Amount (Ton)'|trans }}</th>
        <th class="text-center">{{ 'Send Status'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if salesDoSmsAdmins is defined and salesDoSmsAdmins is not empty %}
        {% for admin in salesDoSmsAdmins %}
            <tr>
                <td align="center">{{ loop.index }}</td>
                <td>{{ admin.name|default('') }}</td>
                <td>{{ admin.mobile|default('') }}</td>
                <td></td>
                <td align="right">Total-{{ totalAmount / 1000 }}</td>
                <td></td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if records is defined and records is not empty %}
        {% for record in records %}
            {% set districtOldId = '' %}
            <tr>
                <td align="center">{{ (salesDoSmsAdmins is defined ? (salesDoSmsAdmins|length) : 0) + loop.index }}</td>
                <td>{{ record.manager.name|default('') }}</td>
                <td>{{ record.manager.mobile|default('') }}</td>
                <td>
                    {% for district in record.manager.district %}
                        {% set districtOldId = districtOldId ~ district.oldId %}
                        {{ district.name }}
                        {% if not loop.last %}
                            ,
                            {% set districtOldId = districtOldId ~ ',' %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td align="right">{{ (record.totalAmount / 1000)|default() }}</td>
                <td align="center">{{ record.status ? 'Yes':'No' }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5" align="center">{{ 'No records Found!'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
</body>
</html>