{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"> <a href="javascript:void(0)">  {{ 'Sales Order Delivery'|trans }}</a></li>
                    {#<li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Sales Order Delivery</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <form action="{{ path('sales_order_sync_api', {orderDeliveryStatus:orderDeliveryStatus}) }}" method="post" class="form-inline sync-form">
                                <input type="text" class="form-control transactionDate" placeholder="dd-mm-YYYY" name="request-date" autocomplete="off">
                                <button type="submit" class="btn btn-sm purple-bg white-font loader"><i class="fas fa-refresh"></i> Sync Sales Order</button>
                                {#                                <a href="{{ path('send_sms_to_regional_managers') }}" class="btn btn-sm blue-bg white-font loader"><i class="fas fa-send"></i> Notify with SMS</a>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Sync Date'|trans }}</th>
                        <th class="text-center" width="100">{{ 'Status'|trans }}</th>
                        <th class="text-center" width="200"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if records is defined and records is not empty %}
                        {% set offset = records.getItemNumberPerPage * (records.currentPageNumber - 1) %}

                        {% for record in records %}
                            <tr>
                                <td>{{ loop.index + offset }}</td>
                                <td>{{ record.syncDate|date('d-m-Y')|default('') }}</td>
                                <td>{{ record.status ? 'Yes':'No' }}</td>
                                <td align="left">
                                    <div class="btn-group">
                                        <a data-toggle="modal" data-action="{{ path('show_regional_managers_amount', {'batch': record.id}) }}" data-target="#myModal" href="#" class="btn btn-mini purple-bg white-font"><i class="fa fa-eye"></i> view</a>

                                        {% if record.status != true %}
                                            <a class="btn btn-transparent btn-mini red-font remove" data-action="{{ path('delete_sales_order_delivery', {id: record.id}) }}" href="javascript:"><i class="fa fa-remove"></i></a>

{#                                            <a data-toggle="modal" data-action="{{ path('show_regional_managers_amount', {'batch': record.id}) }}" data-target="#myModal" href="#" class="btn btn-mini purple-bg white-font"><i class="fa fa-eye"></i> view</a>#}

{#                                            <a href="{{ path('send_sms_to_regional_managers', {'batch': record.id}) }}" class="btn btn-mini blue-bg white-font confirm"><i class="fa fa-send"></i> Send</a>#}
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ records.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(records) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>





{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .modal-dialog {
            /*margin: 1.75rem auto;*/
            margin-top: 118px !important;
        }
        .modal-lg {
            width: 85%;
            max-width: 85%;
            /*height: 100%;*/
            padding: 0;
        }

        .modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 0;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{#    <script type="application/javascript" src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>#}
    <script>
        $(document).on('click',".confirm", function (event) {
            let link = $(this).attr('href');
            event.preventDefault();
            $.MessageBox({
                buttonFail  : "No",
                buttonDone  : "Yes",
                message     : "Are you sure want to send SMS Now?"
            }).done(function(){
                $("#pageloader").fadeIn();
                window.location.href = link;
            });
        });
    </script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
{#    <script>#}
        $('.transactionDate').datepicker(
            {
                dateFormat: 'dd-mm-yy'
            }
        );

    {#    Append Managers Amount#}
    jQuery("#myModal").on("show.bs.modal", function(e) {
    var url = jQuery(e.relatedTarget).data('action');

    jQuery.get( url, function( data ) {
    jQuery(".modal-content").html(data.html);
    });

    });
{% endblock %}
